@font-face {
    font-family: 'p-nova-r',;
    src: url('../../fonts/Font\ Proxima\ Nova/ProximaNova-Regular.otf') format('opentype');
    font-display: swap;
}

@font-face {
    font-family: 'p-nova-b',;
    src: url('../../fonts/Font\ Proxima\ Nova/Proxima Nova Bold.otf') format('opentype');
    font-display: swap;
}

@font-face {
    font-family: 'p-nova-eb',;
    src: url('../../fonts/Font\ Proxima\ Nova/Proxima Nova Extrabold.otf') format('opentype');
    font-display: swap;
}

body {
    height: 100vh;
    // font-family: 'p-nova-r', sans-serif;
    @include scrollbars($scrollbar-wd, $scrollbar-cl, $scrollbar-bg);
}