<div class="container-fluid">
  <div class="d-flex align-items-center justify-content-between">
    <span>
      <nb-icon (click)="toggleSidebar()" icon="bars" style="cursor: pointer; margin-right: .7rem;"></nb-icon>
      <a class="brand" style="font-size: 1.5rem;">My Brand</a>
    </span>
    <span>
      <span class="mr-4">
        <nb-search type="rotate-layout"></nb-search>
      </span>
      <a routerLink="/auth/login">
        <nb-icon icon="user">
        </nb-icon>
      </a>
    </span>
  </div>
</div>