<nav class="navbar navbar-expand-md navbar-light sticky-top">
    <ul class="navbar-nav align-items-md-center ml-auto d-lg-flex d-none">
      <li class="nav-item" routerLink="/notifications" (click)="isNavbarCollapsed = true">
        <a class="nav-link active">
          <fa-layers class="d-md-inline-block d-none">
            <fa-icon [icon]="['fas', 'bell']" ></fa-icon>
            <fa-layers-counter content=""></fa-layers-counter>
          </fa-layers>
          <span class="d-md-none"> Notifications</span>
        </a>
      </li>
      <li class="nav-item" routerLink="/settings" (click)="isNavbarCollapsed = true">
        <a class="nav-link active">
          <fa-icon [icon]="['fas', 'cog']" class="d-md-inline d-none"></fa-icon>
          <span class="d-md-none"> Settings</span>
        </a>
      </li>
      <li class="nav-item ml-md-4 mr-md-4 mt-md-0 mt-sm-4 mt-4 user-full-name-li" routerLink="/profile"
        (click)="isNavbarCollapsed = true">
        <a class="nav-link active user-full-name" > 
          {{ fullName | titlecase }} 
        </a>
      </li>
      <li class="nav-item" (click)="isNavbarCollapsed = true" routerLink="/auth/login">
        <a class="nav-link active" >
          <fa-icon [icon]="['fas', 'sign-out-alt']" class="d-md-inline d-none"></fa-icon>
          <span class="d-md-none text-info"> Logout</span>
        </a>
      </li>
    </ul>
</nav>