/* CUSTOM MODAL STYLING */
.clean-modal  {
    .modal-header, .modal-footer{
        border: none;
        // background-color: $body-bg;
    }

    .modal-title{
        // font-weight: bold;
    }

    .modal-content{
        // background-color: $body-bg;
        
        border-radius: $border-radius;
        border: none;
    }

    .close{
        margin-right: 0rem;
        margin-top: 0rem;
        padding: 0;
        height: 37px;
        width: 37px;
        border-radius: 50%;
        background-color: $body-bg;
        &:focus{
            outline: none;
        }
    }

    .modal-footer{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}