.ng-select.my-ng-select .ng-select-container  {            
    min-height: 0px;
    height: 38px;
    border-radius: $border-radius;
}

.ng-select.my-ng-select .ng-dropdown-panel .ng-dropdown-panel-items{
    @include scrollbars($scrollbar-wd, $scrollbar-cl, $scrollbar-bg);
}