<div class="pt-3">
    <div class="form-row">
        <div class="col-lg-4 col-md-6 offset-lg-3 mb-2">
          <input type="text" nbInput fullWidth [formControl]="emailFormControl" placeholder="Email of the user you want to invite">
        </div>
        <div class="col-lg-3 col-md-4 mb-2">
          <nb-select fullWidth placeholder="Select role" [formControl]="roleFormControl">
            <nb-option value="agent">Agent</nb-option>
            <nb-option value="finance">Finance</nb-option>
            <nb-option value="admin">Admin</nb-option>
          </nb-select>
        </div>
        <div class="col-md-2 mb-4">
          <button nbButton fullWidth status="success" (click)="inviteUser()" [disabled]="invitationLoading">
            <!-- <fa-icon [icon]="['fas', 'plus']"></fa-icon> &nbsp; -->
            Invite &nbsp;
            <span [hidden]="!invitationLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          </button>
        </div>
      </div>
</div>