<h4 class="font-weight-bold mt-4 mb-3">General</h4>
<div class="row">
    <div class="col-xl-7 mb-4">
      <div class="card h-100">
        <div class="card-body">
            <div class="row">
                <div class="col-md-7">
                    <div class="font-weight-bold text-capitalize text-muted mb-3">{{ store?.location }}</div> 
                    <h4 class="card-title text-capitalize font-weight-bold mb-2">{{ store?.name }}</h4>
                    <div class="mb-3">
                      <span class="text-muted">{{ store?.createdAt | date:"yyyy-MM-dd"}}</span>
                      <!-- <span class="text-dark-green ml-2" style="cursor: pointer;">
                        <fa-icon [icon]="['fas', 'balance-scale']"></fa-icon>
                      </span> -->
                    </div>
                    <div class="btn btn-primary ml-0 mr-2 my-1 p-2">
                      Transfer money
                    </div>
                    <div class="btn btn-info ml-0 my-1 p-2" (click)="openNewClientModal(newClientContent)"  >
                      Create client
                    </div>
                </div>
                <div class="col-md-5 text-md-right text-muted">
                  <div class="font-weight-bold mt-md-0 mt-5 mb-3">Available funds</div> 
                  <h1>0</h1>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="col-xl-5 mb-4">
      <div class="card bg-gradient-dark-green text-white h-100 ">
        <div class="card-body">
          <div class="row">
            <div class="col-md-7">
                <h4 class="card-title font-weight-bold mb-2">Define standing orders</h4>
                <p class="card-text">
                  Text here
                </p>
                <div class="btn btn-light p-2">
                  <fa-icon [icon]="['fas', 'plus']"></fa-icon>
                  Recharge store
                </div>
            </div>
            <div class="col-md-5 text-md-right">
              <div class="font-weight-bold mt-md-0 mt-5 mb-3">. . .</div> 
              Store Image
            </div>
        </div>
        </div>
      </div>
    </div>
</div>

<h4 class="font-weight-bold mt-2 mb-3" *ngIf="store?.accounts && store.accounts.length > 0">Accounts</h4>
<div class="row mb-3">
    <div *ngFor="let account of store?.accounts" class="col-xl-3 col-lg-6 mb-4">
        <app-credit-card [account]="account"></app-credit-card>
    </div>
</div>

<div class="row">
  <div class="col-xl-7 mb-4">
    <div class="card h-100">
      <div class="card-body">
        <div class="row no-gutters justify-content-between">
          <h4 class="card-title font-weight-bold mb-2">Latest transactions</h4>
          <button class="btn btn-dark-green">
            <fa-icon [icon]="['fas', 'arrow-right']"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-5 mb-4">
    <div class="card h-100 ">
      <div class="card-body">
        <div class="row no-gutters justify-content-between">
          <h4 class="card-title font-weight-bold mb-2">All Expenses</h4>
          <button class="btn btn-dark-green">
            <fa-icon [icon]="['fas', 'arrow-right']"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #newClientContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">New Client for store <strong>{{ store?.name }}</strong> </h4>
    <button type="button" class="close text-dark" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="newClientForm">
      <div class="form-group">
        <input type="text" class="form-control" [class.is-invalid]="n.name.touched && n.name.errors" formControlName="name" placeholder="Name *" >
        <small *ngIf="n.name.touched && n.name.errors" class="form-text text-danger">Please enter a name for your new client.</small>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [class.is-invalid]="n.surname.touched && n.surname.errors" formControlName="surname" placeholder="Surname *" >
        <small *ngIf="n.surname.touched && n.surname.errors" class="form-text text-danger">Please enter a surname for your new client.</small>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [class.is-invalid]="n.location.touched && n.location.errors" formControlName="location" placeholder="Location *">
        <small *ngIf="n.location.touched && n.location.errors" class="form-text text-danger">Please enter a location.</small>
      </div>
      <div class="form-group">
        <input type="text" class="form-control"  formControlName="description" placeholder="Description">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary mr-3" (click)="modal.close('Cancel click')">Cancel</button>
    <button type="button" class="btn btn-dark-green" (click)="createClient(modal)" [disabled]="loading">Save</button>
  </div>
</ng-template>