.store-main-btn {
  border: none;
  height: 44px;
  color: white;
  border-radius: 30px;
  background: linear-gradient(to top right, #8162ce, #f54ba5);
  box-shadow: 0 13px 26px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.16);

  &:hover {
    border: solid 1px #da59b1;
    color: #da59b1;
    background: #ffffff;
    border-color: linear-gradient(to top right, #8162ce, #f54ba5);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.16);
  }
}

.store-hr{
    border-color: #7c8097;
    width: 90%;
    margin-top: 24px;
    margin-bottom: 24px;
}

.store-card-shadow {
  -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.25);
  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.25);
  box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.25);

  transition: box-shadow 0.5s;

  &:hover{
    box-shadow: 5px 20px 30px 16px rgba(0,0,0,0.3);
  }
}

.store-stat-btn{
  width: 60px;
  height: 60px;
  // color: white;
  // box-shadow: 0 13px 26px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.16);
  cursor: default !important;

  // &:hover{
  //   color: white;
  // }
}

.store-stat-1-btn{
  // background: linear-gradient(to bottom right, #c90a6d, #ff48a0);
}
.store-stat-2-btn{
  // background: linear-gradient(to bottom right, #5e5aec, #3f9efc);
}
.store-stat-3-btn{
  // background: linear-gradient(to bottom right, #574bb6, #6663f9);
}



