<div class="row no-gutters align-items-center justify-content-center">
  <form class="auth-form  p-3" [formGroup]="loginForm" style="border-radius: 6px;">
    <div class="text-center mb-4">
      <img
        src="../../../../assets/media/logos/logo.svg"
        alt=""
        width="116"
        height="158"
      />
      <p style="letter-spacing: 2px; color: #284693; font-size: xx-large; font-weight: bolder; margin-top: 10px;">SWAP</p>
    </div>

    <nb-form-field class="mb-2">
      <label class="label" for="email">Email address:</label>
      <input
        type="email"
        nbInput
        fullWidth
        formControlName="email"
        placeholder="albjon.gjuzi@gmail.com"
        [status]="l.email.touched && l.email.errors ? 'danger' : 'primary'"
      />
    </nb-form-field>

    <nb-form-field class="mb-2">
      <label class="label" for="password">Password:</label>
      <input
        [type]="getInputType()"
        formControlName="password"
        nbInput
        fullWidth
        placeholder="••••••"
        [status]="l.password.touched && l.password.errors ? 'danger' : 'primary'"
      />
      <button
        nbSuffix
        nbButton
        ghost
        style="margin-top: 29px"
        (click)="toggleShowPassword()"
      >
        <nb-icon
          [icon]="showPassword ? 'eye' : 'eye-slash'"
          [attr.aria-label]="showPassword ? 'hide password' : 'show password'"
        >
        </nb-icon>
      </button>
    </nb-form-field>

    <div class="text-center">
      <div class="d-flex w-100 align-items-center justify-content-between">
        <a style="cursor: pointer; text-decoration: underline; color: #284693;">Forgot your password?</a>
        <button
          type="button"
          nbButton
          status="info"
          class="mt-2"
          (click)="login()"
          [disabled]="loginForm.invalid || loading"
          [nbSpinner]="loading" 
          nbSpinnerStatus="info"
        >
          LOGIN
        </button>
      </div>
      
      <br />
      <div class="row mt-2">
        <div class="col-5">
          <hr style="border-top: 1px solid rgb(44, 78, 170)" />
        </div>
        <div class="col-2 font-weight-bold mt-2">OR</div>
        <div class="col-5">
          <hr style="border-top: 1px solid rgb(44, 78, 170)" />
        </div>
      </div>
      <button
        type="button"
        nbButton
        fullWidth
        status="info"
        class="font-weight-bold mt-4"
        (click)="loginWithGoogle()"
      >
        <img
          class="google-icon"
          width="30px"
          src="../../../../assets/media/auth/google.svg"
        />
        &nbsp; LOGIN WITH GOOGLE
      </button>
    </div>
  </form>
</div>
