<div class="row no-gutters">
  <div class="col-12">
    <nb-card>
      <nb-card-body>
        <table
          *ngIf="transactions.length > 0"
          datatable
          [dtOptions]="dtOptions"
          class="table table-borderless table-hover"
          width="100%"
        >
          <thead>
            <tr>
              <th>Date</th>
              <th>Name</th>
              <th>Type</th>
              <th>Amount</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let transaction of transactions" >
              <td>{{ transaction.date }}</td>
              <td>{{ transaction.name }}</td>
              <td>{{ transaction.type }}</td>
              <td
                [ngClass]="{
                  'text-danger': transaction.amount < 0
                }"
              >
                {{ transaction.amount }}
              </td>
              <td>{{ transaction.status }}</td>
            </tr>
          </tbody>
        </table>
      </nb-card-body>
    </nb-card>
  </div>
</div>


