<div class="row mb-4 justify-content-center">
  <div class="col-xl-4 col-lg-6 p-3" *ngFor="let store of stores">
    <div class="card h-100 rounded store-card-shadow">
      <div class="card-body p-3">
        <div class="text-center">
          <h1 class="mb-3 text-capitalize font-weight-bold" placement="bottom" ngbTooltip="{{store.description}}">{{ store.name }}</h1>
          <h3 class="store-location mb-2 text-secondary text-truncate text-capitalize">{{ store.location }}</h3>
          <p class="store-currency mb-3">
            {{ store.default_currency.name }}: <span class="font-weight-bold">{{ store.default_currency.symbol }}</span>
          </p>
          <button class="store-main-btn btn btn-primary rounded-pill px-3" routerLink="{{store._id}}">Open store</button>
          <hr class="store-hr">
          <div class="row no-gutters">
            <div class="col-4">
              <button class="btn store-stat-btn store-stat-1-btn rounded-circle">
                <fa-icon [icon]="['fas', 'balance-scale']" class="fa-lg"></fa-icon>
              </button>
              <!-- <h2 class="mt-2" [ngClass]="{ 'text-success': store.balance >  0, 'text-danger':store.balance < 0}"  [countUp]="store.balance" [options]="countUpOptions">{{ store.balance }}</h2> -->
              <h2 class="mt-2"> 0 </h2>
              <p class="text-muted">Balance</p>
            </div>
            <div class="col-4">
              <button class="btn store-stat-btn store-stat-2-btn rounded-circle">
                <fa-icon [icon]="['fas', 'user-friends']" class="fa-lg"></fa-icon>
              </button><br>
              <h2 class="mt-2"  [countUp]="store.clients.length" [options]="countUpOptions">{{ store.clients.length }}</h2>
              <p class="text-muted">Clients</p>
            </div>
            <div class="col-4">
              <button class="btn store-stat-btn store-stat-3-btn rounded-circle">
                <fa-icon [icon]="['fas', 'user-tie']" class="fa-lg"></fa-icon>
              </button>
              <h2 class="mt-2" [countUp]="store.users.length" [options]="countUpOptions">{{ store.users.length }}</h2>
              <p class="text-muted">Users</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-6 p-3">
    <div class="card h-100 rounded store-card-shadow" style="cursor: pointer;" (click)="openNewStoreModal(newModalContent)">
      <div class="card-body p-3 d-flex flex-column align-items-center justify-content-center">
        <fa-icon [icon]="['fas', 'plus']" class="fa-10x text-primary"></fa-icon>
        <h2 class="d-block display-4 font-weight-bold text-dark">New store</h2>
      </div>
    </div>
  </div>
</div>


<ng-template #newModalContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">New Store</h4>
    <button type="button" class="close text-dark" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="newStoreForm">
      <div class="form-group">
        <input type="text" class="form-control" [class.is-invalid]="s.name.touched && s.name.errors" formControlName="name" placeholder="Name *" >
        <small *ngIf="s.name.touched && s.name.errors" class="form-text text-danger">Please enter a name for your new store.</small>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [class.is-invalid]="s.location.touched && s.location.errors" formControlName="location" placeholder="Location *">
        <small *ngIf="s.location.touched && s.location.errors" class="form-text text-danger">Please enter a location.</small>
      </div>
      <div class="form-group">
        <input type="text" class="form-control"  formControlName="description" placeholder="Description">
      </div>
      <div class="form-group">
        <ng-select formControlName="default_currency" class="my-ng-select" [clearable]="false">
          <ng-option [value]="0">Default currency</ng-option>
          <ng-option *ngFor="let currency of currencies" [value]="currency._id">{{currency.name}}</ng-option>
       </ng-select> 
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary mr-3" (click)="modal.close('Cancel click')">Cancel</button>
    <button type="button" class="btn btn-dark-green px-4" (click)="createStore(modal)" [disabled]="loading">Save</button>
  </div>
</ng-template>
