<div class="row mb-4 justify-content-center">
  <div class="col-xl-3 col-lg-4 col-md-6" *ngFor="let store of stores">
    <div class="card rounded store-card-shadow m-auto">
      <div class="card-body p-2">
        <div class="text-center">
          <h2 class=" text-capitalize font-weight-bold" placement="bottom" ngbTooltip="{{store.description}}">{{ store.name }}</h2>
          <h4 class="store-location text-secondary text-truncate text-capitalize">{{ store.location }}</h4>
          <p class="store-currency">
            {{ store.default_currency.name }}: <span class="font-weight-bold">{{ store.default_currency.symbol }}</span>
          </p>
          <button class="store-main-btn btn btn-primary rounded-pill px-3" routerLink="{{store._id}}">Open store</button>
          <hr class="store-hr">
          <div class="row no-gutters">
            <div class="col-4">
              <button class="btn store-stat-btn store-stat-1-btn rounded-circle">
                <fa-icon [icon]="['fas', 'balance-scale']" class="text-muted"></fa-icon>
              </button>
              <!-- <h3 class="mt-2" [ngClass]="{ 'text-success': store.balance >  0, 'text-danger':store.balance < 0}"  [countUp]="store.balance" [options]="countUpOptions">{{ store.balance }}</h3> -->
              <h4 class="mt-0"> 0 </h4>
              <p class="text-muted">Balance</p>
            </div>
            <div class="col-4">
              <button class="btn store-stat-btn store-stat-2-btn rounded-circle">
                <fa-icon [icon]="['fas', 'user-friends']" class="text-muted"></fa-icon>
              </button><br>
              <h4 class="mt-0"  [countUp]="store.clients.length" [options]="countUpOptions">{{ store.clients.length }}</h4>
              <p class="text-muted">Clients</p>
            </div>
            <div class="col-4">
              <button class="btn store-stat-btn store-stat-3-btn rounded-circle">
                <fa-icon [icon]="['fas', 'user-tie']" class="text-muted"></fa-icon>
              </button>
              <h4 class="mt-0" [countUp]="store.users.length" [options]="countUpOptions">{{ store.users.length }}</h4>
              <p class="text-muted">Users</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-4 col-md-6">
    <div class="card rounded store-card-shadow" style="cursor: pointer;" (click)="openNewStoreModal(newModalContent)">
      <div class="card-body p-2 d-flex flex-column align-items-center justify-content-center">
        <fa-icon [icon]="['fas', 'plus']" class="fa-10x text-primary"></fa-icon>
        <h3 class="d-block font-weight-bold text-dark">New store</h3>
      </div>
    </div>
  </div>
</div>


<ng-template #newModalContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">New Store</h4>
    <button type="button" class="close text-dark" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="newStoreForm">
      <div class="form-group">
        <input type="text" class="form-control" [class.is-invalid]="s.name.touched && s.name.errors" formControlName="name" placeholder="Name *" >
        <small *ngIf="s.name.touched && s.name.errors" class="form-text text-danger">Please enter a name for your new store.</small>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [class.is-invalid]="s.location.touched && s.location.errors" formControlName="location" placeholder="Location *">
        <small *ngIf="s.location.touched && s.location.errors" class="form-text text-danger">Please enter a location.</small>
      </div>
      <div class="form-group">
        <input type="text" class="form-control"  formControlName="description" placeholder="Description">
      </div>
      <div class="form-group">
        <ng-select formControlName="default_currency" class="my-ng-select" [clearable]="false">
          <ng-option [value]="0">Default currency</ng-option>
          <ng-option *ngFor="let currency of currencies" [value]="currency._id">{{currency.name}}</ng-option>
       </ng-select> 
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary mr-3" (click)="modal.close('Cancel click')">Cancel</button>
    <button type="button" class="btn btn-dark-green px-4" (click)="createStore(modal)" [disabled]="loading">Save</button>
  </div>
</ng-template>
