<div class="row no-gutters px-3 h-100 align-items-center justify-content-center">
    <div class="auth-form" >
        <h1 class="display-1 text-danger mb-4">Ooopss!</h1>
        <h2 class="font-weight-bold">
            Your account seems to be disabled.
        </h2>
        <h4>
            You might need to contact one of the page administrators to enable your account!
        </h4>
        <button class="btn btn-info btn-lg mt-5 rounded-0" routerLink="../login">
            <fa-icon [icon]="['fas', 'arrow-left']" ></fa-icon>
            Go back
        </button>
    </div>
</div>
