<div class="row no-gutters px-3 h-100 justify-content-center">
  <div class="mt-n2">
    <h1 class="text-danger mb-4" style="font-size: 40px">Ooopss!</h1>
    <h2>Link seems to be broken.</h2>
    <h4 class="mb-3 font-weight-normal">
      You might need to contact one of the page administrators or try again
      later!
    </h4>
    <button nbButton status="primary" routerLink="../login" shape="round">
      <nb-icon icon="arrow-left" class="mt-1"></nb-icon>
      Go back
    </button>
  </div>
</div>
