.content-container {
    margin-left: $sidebar-wd;
    margin-top: calc(#{$navbar-ht} + 1rem);
}

.content-shadow{
    -moz-box-shadow:    0px 0px 7px 0px #555;
    -webkit-box-shadow: 0px 0px 7px 0px #555;
    box-shadow:         0px 0px 7px 0px #555;
}

@include media-breakpoint-down(sm){
    .content-container{
        margin-left: 0;
        margin-top: calc(#{$navbar-mobile-ht} + 1rem);
    }
}

