.navbar{
    min-height: $navbar-ht;
    background: $body-bg;
    z-index: 1040;

    .nav-link{
        font-weight: 700;
        cursor: pointer;
    }

    .dropdown-toggle::after{
        display:none;
    }
}

.user-full-name{
    @include text-ellipsis;
    max-width: 200px;
}

@include media-breakpoint-down(sm){
    .navbar{
        min-height: $navbar-mobile-ht;
    }
}