.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1049;
    height: 100vh;
    min-width: $sidebar-wd;
    max-width: $sidebar-wd;
    background-color: $sidebar-bg;
    transition: all .4s ease-out;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    overflow-y: auto;

    -moz-box-shadow:    -3px 0 9px 0 #555;
    -webkit-box-shadow: -3px 0 9px 0 #555;
    box-shadow:         -3px 0 9px 0 #555;

    .logo{
        height: 70px;
        width: 60px;
    }

    ul{
        padding: 0 0px;
        li{
            width: 100%;
            height: 47px;
            display: flex;
            align-items: center;
            padding-left: .7rem;
            cursor: pointer;
            font-family: 'p-nova-b';
            color: #717171;

            &:hover{
                background-color: rgb(236, 232, 232);
            }

            &.active{
                padding-left: calc(.7rem - 4px);
                border-left: 4px solid #1764E8;
            }

            &:focus{
                outline: none;
            }
        }
    }

    &.hidden{
        left: -400px;
    }

    &.show{
        left: 0;
    }

    .close{
        visibility: hidden;
    }
}

@include media-breakpoint-down(sm){
    .sidebar{
        left: -400px;

        &.show{
            box-shadow: 0 0 0 100000px rgba(0,0,0,.3);
            -moz-box-shadow: 0 0 0 100000px rgba(0,0,0,.3);
            -webkit-box-shadow: 0 0 0 100000px rgba(0,0,0,.3);
        }

        .close{
            visibility: visible;
        }
    }
}