<div class="card h-100 w-100">
    <div class="card-body">
        <div class="row">
            <div class="col-9">
                <h5 class="card-title mb-2">Intesa San Paolo</h5>
                <div class="mb-4" title="Copy">
                    <span class="text-muted">2332 **** 2323 2323</span>
                    <span class="text-success ml-2" style="cursor: pointer;">
                        <fa-icon [icon]="['fas', 'copy']"></fa-icon>
                    </span>
                </div>
                <div>
                    3432423 $
                </div>
            </div>
            <div class="col-3 d-flex flex-column align-items-end justify-content-between">
                <div>ICON</div>
                <div>...</div>
            </div>
        </div>
    </div>
</div>