<div class="row">
  <div class="col-xl-8">
    <nb-card
      class="mt-0 shadow"
      style="border: none"
      [nbSpinner]="loadingTransactions"
      nbSpinnerStatus="danger"
      nbSpinnerSize="large"
      nbSpinnerMessage="Loading"
    >
      <nb-card-body style="min-height: 520px">
        <!-- MAKING A TRANSACTION SECTION -->
        <div class="row mb-3 align-items-center">
          <div class="col-6">
            <div ngbDropdown class="d-inline-block mr-5 mb-xl-0 mb-3">
              <button
                nbButton
                status="info"
                class="shadow"
                style="
                  text-transform: uppercase;
                  border-radius: 13px;
                  min-width: 150px;
                  letter-spacing: 0.5px;
                  font-size: 1rem;
                "
                id="dropdownBasic3"
                ngbDropdownToggle
              >
                {{ tradeType }} &nbsp; &nbsp;
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic3">
                <button ngbDropdownItem (click)="make('BTC')">BTC</button>
                <button ngbDropdownItem (click)="make('Other')">Other</button>
              </div>
            </div>
          </div>
          <div
            class="col-6 text-right"
            style="font-size: 1.5rem; color: #ff8c00"
          >
            Balance: <strong>{{ balance | currency: "EUR" }}</strong>
          </div>
        </div>

        <!-- BTC -->
        <div
          *ngIf="tradeType === 'BTC'"
          class="row transactions-bg mb-3"
          style="margin: 0rem -1rem"
        >
          <div class="col-12 py-3 px-lg-5 px-3">
            <form
              [formGroup]="btcForm"
              class="form-row"
              (keyup)="onBtcFormUpdate()"
            >
              <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mb-2">
                <label class="label">BTC Amount *</label>
                <input
                  nbInput
                  fullWidth
                  type="number"
                  min="0"
                  placeholder="BTC Amount"
                  formControlName="crypto_ammount"
                  [status]="
                    btrade.crypto_ammount.touched &&
                    btrade.crypto_ammount.errors
                      ? 'danger'
                      : 'basic'
                  "
                />
                <small
                  *ngIf="
                    btrade.crypto_ammount.touched &&
                    btrade.crypto_ammount.errors
                  "
                  class="form-text text-danger"
                  >Please enter BTC Ammount</small
                >
              </div>
              <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mb-2">
                <label class="label">Current Price *</label>
                <nb-form-field
                  ><input
                    nbInput
                    fullWidth
                    type="number"
                    placeholder="Current Price *"
                    formControlName="price_current"
                    [status]="
                      btrade.price_current.touched &&
                      btrade.price_current.errors
                        ? 'danger'
                        : 'basic'
                    "
                  />
                  <nb-icon nbSuffix icon="euro-sign"></nb-icon>
                </nb-form-field>

                <small
                  *ngIf="
                    btrade.price_current.touched && btrade.price_current.errors
                  "
                  class="form-text text-danger"
                  >Please enter Current Price</small
                >
              </div>
              <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mb-2">
                <label class="label">Conversion Fee % *</label>
                <nb-form-field>
                  <input
                    nbInput
                    fullWidth
                    type="number"
                    placeholder="Fee"
                    formControlName="conversion_fee"
                    [status]="
                      btrade.conversion_fee.touched &&
                      btrade.conversion_fee.errors
                        ? 'danger'
                        : 'basic'
                    "
                  />
                  <nb-icon nbSuffix icon="percent"></nb-icon>
                </nb-form-field>

                <small
                  *ngIf="
                    btrade.conversion_fee.touched &&
                    btrade.conversion_fee.errors
                  "
                  class="form-text text-danger"
                  >Please enter Conversion Fee</small
                >
              </div>
              <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mb-2">
                <label class="label">Service Fee % *</label>
                <nb-form-field>
                  <input
                    nbInput
                    fullWidth
                    type="number"
                    min="0"
                    max="100"
                    placeholder="Fee"
                    formControlName="service_fee"
                    [status]="
                      btrade.service_fee.touched && btrade.service_fee.errors
                        ? 'danger'
                        : 'basic'
                    "
                  />
                  <nb-icon nbSuffix icon="percent"></nb-icon>
                </nb-form-field>

                <small
                  *ngIf="
                    btrade.service_fee.touched && btrade.service_fee.errors
                  "
                  class="form-text text-danger"
                  >Please enter Fee</small
                >
              </div>
              <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mb-2">
                <label class="label">Total Bought *</label>
                <nb-form-field>
                  <input
                    nbInput
                    fullWidth
                    type="number"
                    placeholder="Total Bought"
                    formControlName="total_bought"
                    [readonly]="true"
                    [status]="
                      btrade.total_bought.touched && btrade.total_bought.errors
                        ? 'danger'
                        : 'basic'
                    "
                  />
                  <nb-icon nbSuffix icon="euro-sign"></nb-icon>
                </nb-form-field>

                <small
                  *ngIf="
                    btrade.total_bought.touched && btrade.total_bought.errors
                  "
                  class="form-text text-danger"
                  >Please enter Total Bought</small
                >
              </div>
              <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mb-2">
                <label class="label">Amount Sold *</label>
                <nb-form-field>
                  <input
                    nbInput
                    fullWidth
                    type="number"
                    placeholder="Amount Sold"
                    formControlName="ammount_sold"
                    [readonly]="true"
                    [status]="
                      btrade.ammount_sold.touched && btrade.ammount_sold.errors
                        ? 'danger'
                        : 'basic'
                    "
                  />
                  <nb-icon nbSuffix icon="euro-sign"></nb-icon>
                </nb-form-field>

                <small
                  *ngIf="
                    btrade.ammount_sold.touched && btrade.ammount_sold.errors
                  "
                  class="form-text text-danger"
                  >Please enter Amount Sold</small
                >
              </div>
              <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mb-2">
                <label class="label">Store *</label>
                <ng-select
                  formControlName="toStore"
                  class="my-ng-select"
                  placeholder="Select store..."
                >
                  <ng-option *ngFor="let store of stores" [value]="store._id">{{
                    store.name | uppercase
                  }}</ng-option>
                </ng-select>
                <small
                  *ngIf="btrade.toStore.touched && btrade.toStore.errors"
                  class="form-text text-danger"
                  >Please enter Store</small
                >
              </div>
              <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mb-2">
                <label class="label">Date *</label>
                <input
                  nbInput
                  fullWidth
                  placeholder="Date"
                  formControlName="date"
                  [nbDatepicker]="dateTimePicker"
                  [status]="
                    btrade.date.touched && btrade.date.errors
                      ? 'danger'
                      : 'basic'
                  "
                />
                <nb-datepicker #dateTimePicker></nb-datepicker>
                <small
                  *ngIf="btrade.date.touched && btrade.date.errors"
                  class="form-text text-danger"
                  >Please enter Date</small
                >
              </div>
              <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mb-2">
                <label class="label">Client </label>
                <ng-select
                  formControlName="client"
                  class="my-ng-select"
                  placeholder="Select client..."
                >
                  <ng-option
                    *ngFor="let client of clients"
                    [value]="client._id"
                    >{{ client.name | uppercase }}</ng-option
                  >
                </ng-select>
                <small
                  *ngIf="btrade.client.touched && btrade.client.errors"
                  class="form-text text-danger"
                  >Please select a client</small
                >
              </div>
              <div class="col-sm-6 pt-4">
                <button
                  nbButton
                  status="info"
                  class="ml-3"
                  (click)="makeBtc()"
                  [disabled]="makingBtc"
                >
                  make BTC sale
                </button>
                <button nbButton ghost class="ml-4" (click)="initBtcForm()">
                  Reset
                </button>
              </div>
            </form>
          </div>
        </div>

        <!-- OTHER -->
        <div
          *ngIf="tradeType === 'Other'"
          class="row transactions-bg mb-3"
          style="margin: 0rem -1rem"
        >
          <div class="col-12 py-3 px-lg-5 px-3">
            <form
              [formGroup]="otherForm"
              class="form-row"
              (keyup)="onOtherFormUpdate()"
            >
              <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mb-2">
                <label class="label">Crypto Type *</label>
                <input
                  nbInput
                  fullWidth
                  type="text"
                  placeholder="Crypto type"
                  formControlName="from_account"
                  [status]="
                    otrade.from_account.touched && otrade.from_account.errors
                      ? 'danger'
                      : 'basic'
                  "
                />
                <small
                  *ngIf="
                    otrade.from_account.touched && otrade.from_account.errors
                  "
                  class="form-text text-danger"
                  >Please enter Type</small
                >
              </div>
              <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mb-2">
                <label class="label">Amount *</label>
                <input
                  nbInput
                  fullWidth
                  type="number"
                  min="0"
                  placeholder="Amount"
                  formControlName="crypto_ammount"
                  [status]="
                    otrade.crypto_ammount.touched &&
                    otrade.crypto_ammount.errors
                      ? 'danger'
                      : 'basic'
                  "
                />
                <small
                  *ngIf="
                    otrade.crypto_ammount.touched &&
                    otrade.crypto_ammount.errors
                  "
                  class="form-text text-danger"
                  >Please enter Amount</small
                >
              </div>
              <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mb-2">
                <label class="label">Conversion Fee % *</label>
                <nb-form-field>
                  <input
                    nbInput
                    fullWidth
                    type="number"
                    placeholder="Fee"
                    formControlName="conversion_fee"
                    [status]="
                      otrade.conversion_fee.touched &&
                      otrade.conversion_fee.errors
                        ? 'danger'
                        : 'basic'
                    "
                  />
                  <nb-icon nbSuffix icon="percent"></nb-icon>
                </nb-form-field>

                <small
                  *ngIf="
                    otrade.conversion_fee.touched &&
                    otrade.conversion_fee.errors
                  "
                  class="form-text text-danger"
                  >Please enter Conversion Fee</small
                >
              </div>
              <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mb-2">
                <label class="label">Service Fee % *</label>
                <nb-form-field>
                  <input
                    nbInput
                    fullWidth
                    type="number"
                    min="0"
                    max="100"
                    placeholder="Fee"
                    formControlName="service_fee"
                    [status]="
                      otrade.service_fee.touched && otrade.service_fee.errors
                        ? 'danger'
                        : 'basic'
                    "
                  />
                  <nb-icon nbSuffix icon="percent"></nb-icon>
                </nb-form-field>

                <small
                  *ngIf="
                    otrade.service_fee.touched && otrade.service_fee.errors
                  "
                  class="form-text text-danger"
                  >Please enter Fee</small
                >
              </div>
              <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mb-2">
                <label class="label">Total Bought *</label>
                <nb-form-field>
                  <input
                    nbInput
                    fullWidth
                    type="number"
                    placeholder="Total Bought"
                    formControlName="total_bought"
                    [readonly]="true"
                    [status]="
                      otrade.total_bought.touched && otrade.total_bought.errors
                        ? 'danger'
                        : 'basic'
                    "
                  />
                  <nb-icon nbSuffix icon="euro-sign"></nb-icon>
                </nb-form-field>

                <small
                  *ngIf="
                    otrade.total_bought.touched && otrade.total_bought.errors
                  "
                  class="form-text text-danger"
                  >Please enter Total Bought</small
                >
              </div>
              <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mb-2">
                <label class="label">Amount Sold *</label>
                <nb-form-field>
                  <input
                    nbInput
                    fullWidth
                    type="number"
                    placeholder="Amount Sold"
                    formControlName="ammount_sold"
                    [status]="
                      otrade.ammount_sold.touched && otrade.ammount_sold.errors
                        ? 'danger'
                        : 'basic'
                    "
                  />
                  <nb-icon nbSuffix icon="euro-sign"></nb-icon>
                </nb-form-field>

                <small
                  *ngIf="
                    otrade.ammount_sold.touched && otrade.ammount_sold.errors
                  "
                  class="form-text text-danger"
                  >Please enter Amount Sold</small
                >
              </div>
              <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mb-2">
                <label class="label">Store *</label>
                <ng-select
                  formControlName="toStore"
                  class="my-ng-select"
                  placeholder="Select store..."
                >
                  <ng-option *ngFor="let store of stores" [value]="store._id">{{
                    store.name | uppercase
                  }}</ng-option>
                </ng-select>
                <small
                  *ngIf="otrade.toStore.touched && otrade.toStore.errors"
                  class="form-text text-danger"
                  >Please enter Store</small
                >
              </div>
              <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mb-2">
                <label class="label">Date *</label>
                <input
                  nbInput
                  fullWidth
                  placeholder="Date"
                  formControlName="date"
                  [nbDatepicker]="dateTimePicker"
                  [status]="
                    otrade.date.touched && otrade.date.errors
                      ? 'danger'
                      : 'basic'
                  "
                />
                <nb-datepicker #dateTimePicker></nb-datepicker>
                <small
                  *ngIf="otrade.date.touched && otrade.date.errors"
                  class="form-text text-danger"
                  >Please enter Date</small
                >
              </div>
              <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mb-2">
                <label class="label">Client </label>
                <ng-select
                  formControlName="client"
                  class="my-ng-select"
                  placeholder="Select client..."
                >
                  <ng-option
                    *ngFor="let client of clients"
                    [value]="client._id"
                    >{{ client.name | uppercase }}</ng-option
                  >
                </ng-select>
              </div>
              <div class="col-sm-6 pt-4">
                <button
                  nbButton
                  status="info"
                  class="ml-3"
                  (click)="makeOther()"
                  [disabled]="makingOther"
                >
                  make sale
                </button>
                <button nbButton ghost class="ml-4" (click)="initOtherForm()">
                  Reset
                </button>
              </div>
            </form>
          </div>
        </div>
        <!-- END MAKING OTHER TRANSACTION -->

        <table
          datatable
          [dtOptions]="dtOptions"
          [dtTrigger]="$any(dtTrigger)"
          class="table table-hover btc-table table-sm"
          width="100%"
        >
          <thead>
            <tr>
              <th>from account</th>
              <th>btc/USDT part</th>
              <th>price</th>
              <th>total</th>
              <th>minus fee</th>
              <th>conversion fee</th>
              <th>service fee</th>
              <th>profit</th>
              <th>client</th>
              <th>store</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of tablePosts" style="cursor: pointer">
              <td class="post-first-td">{{ row.from_account }}</td>
              <td>{{ row.crypto_ammount }}</td>
              <td>{{ row.price_current | currency: "EUR" }}</td>
              <td>{{ row.total_bought | currency: "EUR" }}</td>
              <td>{{ row.ammount | currency: "EUR" }}</td>
              <td>{{ row.conversion_fee | currency: "EUR" }}</td>
              <td>{{ row.service_fee | currency: "EUR" }}</td>
              <td>
                {{ row.service_fee - row.conversion_fee | currency: "EUR" }}
              </td>
              <td
                class="text-uppercase"
                [attr.data-sort]="row.client?.name"
                [attr.data-search]="row.client?.name"
              >
                <!-- <select (change)="onClientChange(row._id, $event.target)">
									<option *ngFor="let client of clients" value="{{ client._id }}" [selected]="client._id === row.client?._id"> -->
                {{ row.client?.name | uppercase }}
                <!-- </option>
								</select> -->
              </td>
              <td>{{ row.toStore?.name | uppercase }}</td>
            </tr>
          </tbody>
          <tfoot class="bitcoin-table-footer">
            <tr>
              <td class="text-uppercase text-right post-first-td">Total</td>
              <td></td>
              <td></td>
              <td></td>
              <td class="text-right">{{ totalMinusFee | currency: "EUR" }}</td>
              <td></td>
              <td></td>
              <td>{{ totalProfit | currency: "EUR" }}</td>
              <td></td>
              <td></td>
            </tr>
            <!-- <tr>
							<td class="text-uppercase text-right post-first-td" style="border-bottom-left-radius: 0.7rem">
								Grand Total
							</td>
							<td></td>
							<td></td>
							<td></td>
							<td class="text-right">
								{{ grandTotalMinusFee | currency: 'EUR' }}
							</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr> -->
          </tfoot>
        </table>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-xl-4">
    <nb-card class="bitcoin-second-card shadow">
      <nb-card-body style="min-height: 520px">
        <!-- MAKING A TRANSACTION SECTION -->
        <div class="row transactions-bg mb-3" style="margin: 0rem -1rem">
          <div class="col-12 py-3 px-3">
            <form [formGroup]="transferForm" class="form-row">
              <div class="col-md-4 col-sm-6 mb-2">
                <label class="label">To *</label>
                <ng-select
                  formControlName="toEntity"
                  class="my-ng-select"
                  placeholder="Select entity..."
                  [items]="entities"
                  bindLabel="name"
                  bindValue="_id"
                >
                  <ng-template ng-optgroup-tmp let-item="item">
                    {{ item.role || "Unnamed role" }}
                  </ng-template>
                </ng-select>
                <small
                  *ngIf="t.toEntity.touched && t.toEntity.errors"
                  class="form-text text-danger"
                  >Please select an entity</small
                >
              </div>
              <div class="col-md-4 col-sm-6 mb-2">
                <label class="label">Description *</label>
                <input
                  nbInput
                  fullWidth
                  placeholder="Description"
                  formControlName="description"
                  [status]="
                    t.description.touched && t.description.errors
                      ? 'danger'
                      : 'basic'
                  "
                />
                <small
                  *ngIf="t.description.touched && t.description.errors"
                  class="form-text text-danger"
                  >Please enter a short description</small
                >
              </div>

              <div class="col-md-4 col-sm-6 mb-2">
                <label class="label">Amount *</label>
                <nb-form-field>
                  <input
                    nbInput
                    fullWidth
                    formControlName="amount"
                    placeholder="Amount *"
                    [status]="
                      t.amount.touched && t.amount.errors ? 'danger' : 'basic'
                    "
                  />
                  <nb-icon nbSuffix icon="euro-sign"></nb-icon>
                </nb-form-field>

                <small
                  *ngIf="t.amount.touched && t.amount.errors"
                  class="form-text text-danger"
                  >Please enter a valid amount</small
                >
              </div>
            </form>
          </div>
          <div class="col-12 text-right mb-3">
            <button
              nbButton
              status="info"
              [disabled]="makingTransfer"
              (click)="makeTransfer()"
            >
              Make transfer
            </button>
            <button nbButton ghost class="ml-3" (click)="initTransferForm()">
              reset
            </button>
          </div>
        </div>
        <!-- END MAKING A TRANSACTION -->

        <table class="table table-hover table-sm" width="100%">
          <thead>
            <tr>
              <th>to</th>
              <th>amount</th>
              <th>description</th>  
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of transfers; trackBy: trackByFunction">
              <td class="post-first-td">
                <div *ngIf="row.client; else toStore">
                  {{ row.client?.name }}
                </div>
                <ng-template #toStore>{{ row.toStore?.name }}</ng-template>
              </td>
              <td>{{ row.amount_in | currency: "EUR" }}</td>
              <td>{{ row.description }}</td>
            </tr>
          </tbody>
        </table>
      </nb-card-body>
    </nb-card>
  </div>
</div>
