@font-face {
    font-family: 'icomoon';
    src:  url('../../fonts/fonts/icomoon.eot?oh2zkm');
    src:  url('../../fonts/fonts//icomoon.eot?oh2zkm#iefix') format('embedded-opentype'),
      url('../../fonts/fonts/icomoon.ttf?oh2zkm') format('truetype'),
      url('../../fonts/fonts/icomoon.woff?oh2zkm') format('woff'),
      url('../../fonts/fonts/icomoon.svg?oh2zkm#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-dashboard:before {
    content: "\e900";
  }
  .icon-reports:before {
    content: "\e901";
  }
  .icon-settings:before {
    content: "\e902";
  }
  .icon-stores:before {
    content: "\e903";
  }
  .icon-transactions:before {
    content: "\e904";
  }
  