<nb-card
  class="mt-0 shadow"
  [nbSpinner]="loadingTransactions"
  nbSpinnerStatus="danger"
  nbSpinnerSize="large"
  nbSpinnerMessage="Loading transactions"
  style="min-height: 300px"
>
  <nb-card-body>
    <div class="row mb-3">
      <div class="col-12">
        <div
          *ngIf="isAdminOrAgent"
          ngbDropdown
          class="d-inline-block mr-5 mb-xl-0 mb-3"
        >
          <button
            nbButton
            status="info"
            class="shadow"
            style="
              text-transform: uppercase;
              border-radius: 13px;
              min-width: 150px;
              letter-spacing: 0.5px;
              font-size: 1rem;
            "
            id="dropdownBasic1"
            ngbDropdownToggle
          >
            {{ transactionType }} &nbsp; &nbsp;
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem (click)="make('transfer')">Transfer</button>
            <button ngbDropdownItem (click)="make('loan')">Loan</button>
            <button ngbDropdownItem (click)="make('deposit')">Deposit</button>
            <button ngbDropdownItem (click)="make('withdraw')">Withdraw</button>
          </div>
        </div>
      </div>
    </div>

    <!-- MAKING A TRANSACTION SECTION -->
    <div
      class="row transactions-bg"
      *ngIf="isAdminOrAgent"
      style="margin: 0rem -1rem"
    >
      <div class="col-12 py-3 px-lg-5 px-3">
        <div [ngSwitch]="transactionType">
          <div *ngSwitchCase="'transfer'">
            <app-transfer
              (onTransactionLock)="loadingTransactions = true"
              (onTransactionCreate)="rerenderTransactions($event)"
            ></app-transfer>
          </div>
          <div *ngSwitchCase="'loan'">
            <app-loan
              (onTransactionLock)="loadingTransactions = true"
              (onTransactionCreate)="rerenderTransactions($event)"
            ></app-loan>
          </div>
          <div *ngSwitchCase="'withdraw'">
            <app-withdraw
              (onTransactionLock)="loadingTransactions = true"
              (onTransactionCreate)="rerenderTransactions($event)"
            ></app-withdraw>
          </div>
          <div *ngSwitchCase="'deposit'">
            <app-deposit
              (onTransactionLock)="loadingTransactions = true"
              (onTransactionCreate)="rerenderTransactions($event)"
            ></app-deposit>
          </div>
        </div>
      </div>
    </div>
    <!-- END MAKING A TRANSACTION -->

    <div class="row pt-2">
      <div class="col-12">
        <table
          [dtTrigger]="$any(dtTrigger)"
          [dtOptions]="dtOptions"
          datatable
          class="table table-hover"
          width="100%"
        >
          <thead>
            <tr>
              <th width="20px">&nbsp;</th>
              <th>Date</th>
              <th>Amount In</th>
              <th>Amount Out</th>
              <th>Fee</th>
              <th>Payment type</th>
              <th *ngIf="!isInStore">from</th>
              <th *ngIf="!isInClient">to</th>
              <th>Direction</th>
              <th *ngIf="!isInClient">Created By</th>
              <th *ngIf="!isInClient">Description</th>
              <th>Actions</th>
              <th width="20px">&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let transaction of tableTransactions"
              style="cursor: pointer"
              [ngClass]="{
                'row-issued': transaction.issue,
                'row-pending':
                  transaction.status === 'Open' && !transaction.issue,
                'row-closed':
                  transaction.status === 'Closed' && !transaction.issue
              }"
              trackBy="trackByFunction"
            >
              <td
                [attr.data-sort]="transaction.issue ? 'a' : 'b'"
                (click)="toggleFlag(transaction)"
              >
                <nb-icon
                  icon="flag"
                  [status]="transaction.issue ? 'danger' : 'basic'"
                ></nb-icon>
              </td>
              <td
                class="text-capitalize"
                (click)="openEditTransaction(transactionDialog, transaction)"
                [attr.data-sort]="transaction.createdAt"
              >
                {{ transaction.createdAt | date: "MMM d, y HH:mm" }}
              </td>
              <td
                [attr.data-sort]="transaction.amount_in"
                (click)="openEditTransaction(transactionDialog, transaction)"
              >
                {{ transaction.amount_in | currency: "EUR" }}
              </td>
              <td
                [attr.data-sort]="transaction.amount_out"
                (click)="openEditTransaction(transactionDialog, transaction)"
              >
                {{ transaction.amount_out | currency: "EUR" }}
              </td>
              <td
                [attr.data-sort]="transaction.revenue"
                (click)="openEditTransaction(transactionDialog, transaction)"
              >
                {{ transaction.revenue | currency: "EUR" }}
              </td>
              <td
                class="text-capitalize"
                (click)="openEditTransaction(transactionDialog, transaction)"
                [attr.data-sort]="transaction.type"
                [attr.data-search]="transaction.type"
                style="vertical-align: middle; text-align: left; padding: 0px"
              >
                <div
                  [ngClass]="'transaction-' + transaction.type"
                  style="font-weight: 800; border-radius: 6px; padding: 8px"
                >
                  {{ transaction.type }}
                </div>
              </td>
              <td
                *ngIf="!isInStore"
                class="text-capitalize"
                (click)="openEditTransaction(transactionDialog, transaction)"
              >
                {{ transaction.store?.name }}
              </td>
              <td
                *ngIf="!isInClient"
                class="text-capitalize"
                (click)="openEditTransaction(transactionDialog, transaction)"
              >
                <span *ngIf="transaction.client">
                  <span *ngIf="isAdminOrAgent">
                    {{ transaction.client?.name }}
                    {{ transaction.client?.surname }}
                  </span>
                  <span *ngIf="!isAdminOrAgent">
                    {{ transaction.client?._id }}
                  </span>
                </span>

                <span *ngIf="transaction.toStore">
                  <span *ngIf="isAdminOrAgent">
                    {{ transaction.toStore?.name }}
                  </span>
                  <span *ngIf="!isAdminOrAgent">
                    {{ transaction.toStore?._id }}
                  </span>
                </span>
              </td>
              <td
                class="text-capitalize"
                (click)="openEditTransaction(transactionDialog, transaction)"
              >
                {{ transaction.direction }}
              </td>
              <td
                *ngIf="!isInClient"
                class="text-capitalize"
                (click)="openEditTransaction(transactionDialog, transaction)"
              >
                {{ transaction.user?.name }}
              </td>
              <td
                *ngIf="!isInClient"
                style="
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                  max-width: 150px;
                "
                class="text-ellipsis"
                (click)="openEditTransaction(transactionDialog, transaction)"
              >
                {{ transaction.description }}
              </td>
              <td style="width: 140px;">
                <button
                  nbButton
                  *ngIf="
                    transaction.status === 'Open' &&
                    transaction.store._id === '603d48daeab0d70008bbc19f' &&
                    transaction.client
                  "
                  (click)="markApproved(transaction)"
                  title="Approved"
                  status="info"
                  style="padding: 0.1rem; margin-right: 0.2rem"
                >
                  <nb-icon icon="check" class="mt-1"></nb-icon>
                </button>
                <button
                  nbButton
                  *ngIf="
                    transaction.store._id === '603d48daeab0d70008bbc19f' &&
                    transaction.client &&
                    transaction.status !== 'Withdrawn'
                  "
                  (click)="markApprovedPlusPaid(transaction)"
                  title="Approved + Paid"
                  status="success"
                  style="padding: 0.1rem; margin-right: 0.2rem"
                >
                  <nb-icon icon="check" class="mt-1"></nb-icon> +
                  <nb-icon class="mt-1" icon="euro-sign"></nb-icon>
                </button>
                <button
                  nbButton
                  *ngIf="
                    transaction.store._id === '603d48daeab0d70008bbc19f' &&
                    transaction.client && transaction.status === 'Open'
                  "
                  status="danger"
                  style="padding: 0.1rem; "
                  title="Remove"
									(click)="removeTransaction(transaction)"
                >
                  <nb-icon icon="trash" class="mt-1"></nb-icon>
                </button>
              </td>
              <td (click)="openEditTransaction(transactionDialog, transaction)">
                <nb-icon
                  *ngIf="transaction.store._id !== '603d48daeab0d70008bbc19f'"
                  icon="edit"
                  style="cursor: pointer"
                  status="basic"
                ></nb-icon>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </nb-card-body>
</nb-card>

<ng-template #transactionDialog let-ref="dialogRef">
  <nb-card
    [status]="
      transaction.status === 'Open'
        ? transaction.issue
          ? 'danger'
          : 'info'
        : 'success'
    "
    style="border: none"
  >
    <nb-card-header class="d-flex align-items-start justify-content-between">
      <span
        class="mr-4"
        style="
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 25ch;
        "
      >
        {{ transaction.description }}</span
      >
      <span class="">
        {{ transaction.status | uppercase }}
      </span>
      <span class="mx-4">
        {{ transaction.createdAt | date: "MMM d, y HH:mm" }}
      </span>
      <span>
        <nb-icon
          icon="window-close"
          (click)="ref.close()"
          style="cursor: pointer"
        ></nb-icon>
      </span>
    </nb-card-header>
    <nb-card-body class="p-3">
      <div class="row mb-5 posts-row">
        <div class="col-12">
          <div class="row mb-2">
            <div class="col-4 text-left">
              <p
                class="text-disabled text-uppercase font-weight-bold"
                style="color: #959595"
              >
                Movements
              </p>
            </div>
            <div class="col-8 text-right">
              <button
                *ngIf="transaction.type === 'loan'"
                nbButton
                status="warning"
                size="small"
                (click)="openRepayment(transaction, repaymentContent)"
              >
                Add repayment
              </button>
              <button
                *ngIf="
                  (isAdmin || (isAdminOrAgent && !transaction.issue)) &&
                  transaction.status === 'Open'
                "
                nbButton
                class="ml-3"
                status="success"
                size="small"
                (click)="completeTransaction(transaction._id, ref)"
              >
                Complete
              </button>
            </div>
          </div>

          <table
            id="postsTable"
            class="table table-hover table-sm mt-3"
            width="100%"
            style="min-width: 100%"
          >
            <thead>
              <tr>
                <th>detail</th>
                <th>date</th>
                <th>amount</th>
                <th>type</th>
                <th *ngIf="!isInClient">Created By</th>
                <th *ngIf="isAdmin" style="width: 20px"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let post of transaction?.posts">
                <td
                  class="post-first-td"
                  style="word-wrap: break-word; max-width: 150px"
                >
                  {{ post.details }}
                </td>
                <td>{{ post.date | date: "MMM d, y HH:mm" }}</td>
                <td>{{ post.ammount | currency: "EUR" }}</td>
                <td class="text-capitalize">{{ post.type }}</td>
                <td *ngIf="!isInClient">{{ post.user?.name }}</td>
                <td *ngIf="isAdmin" (click)="openEditPost(postContent, post)">
                  <nb-icon
                    icon="edit"
                    status="basic"
                    style="cursor: pointer"
                  ></nb-icon>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <div class="row">
            <div class="col-12">
              <p
                class="mb-2 text-disabled text-uppercase font-weight-bold"
                style="color: #959595"
              >
                Transaction details
              </p>
            </div>
          </div>

          <div
            class="p-2"
            style="
              background-color: #f5f9ff;
              min-height: 100px;
              border-radius: 6px;
            "
          >
            <div class="d-flex align-items-center justify-content-between mb-2">
              <strong class="mr-2 text-disabled font-smaller"
                >Created At</strong
              >
              <span>{{ transaction.createdAt | date: "mediumDate" }}</span>
            </div>
            <div
              *ngIf="isAdminOrAgent"
              class="d-flex align-items-center justify-content-between mb-2"
            >
              <strong class="mr-2 text-disabled">From</strong>
              <span>{{ transaction.store?.name || "-" }}</span>
            </div>
            <div
              *ngIf="isAdminOrAgent"
              class="d-flex align-items-center justify-content-between mb-2"
            >
              <strong class="mr-2 text-disabled">To</strong>
              <span *ngIf="transaction.client">
                <span *ngIf="isAdminOrAgent">
                  {{ transaction.client?.name }}
                  {{ transaction.client?.surname }}
                </span>
                <span *ngIf="!isAdminOrAgent">
                  {{ transaction.client?._id }}
                </span>
              </span>

              <span *ngIf="transaction.toStore">
                <span *ngIf="isAdminOrAgent">
                  {{ transaction.toStore?.name }}
                </span>
                <span *ngIf="!isAdminOrAgent">
                  {{ transaction.toStore?._id }}
                </span>
              </span>
            </div>
            <div class="d-flex align-items-center justify-content-between mb-2">
              <strong class="mr-2 text-disabled">Direction</strong>
              <span class="text-capitalize">{{ transaction.direction }}</span>
            </div>
            <div class="d-flex align-items-center justify-content-between mb-2">
              <strong class="mr-2 text-disabled">Payment type</strong>
              <span class="text-capitalize">{{ transaction.type }}</span>
            </div>
            <div
              *ngIf="!isInClient"
              class="d-flex align-items-center justify-content-between mb-2"
            >
              <strong class="mr-2 text-disabled">Created By</strong>
              <span class="text-capitalize">{{
                transaction.user?.name || "-"
              }}</span>
            </div>
            <div
              *ngIf="!isInClient"
              class="d-flex align-items-center justify-content-between mb-2"
            >
              <strong class="mr-2 text-disabled">Description</strong>
              <span>{{ transaction.description }}</span>
            </div>
            <div class="text-center">
              <button
                nbButton
                *ngIf="editingTransactionDetails && isAdmin"
                status="success"
                size="small"
              >
                Save
              </button>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <p
            class="
              mt-md-0 mt-5
              mb-2
              text-disabled text-uppercase
              font-weight-bold
            "
            style="color: #959595"
          >
            Comments
          </p>

          <small *ngIf="transaction?.comments?.length === 0"
            >No comments have been added yet for this transaction</small
          >

          <div style="max-height: 200px; overflow: auto">
            <p
              class="mb-2 d-flex flex-column flex-wrap"
              style="font-size: 13.5px"
              *ngFor="let comment of transaction.comments"
              [ngClass]="{ 'text-danger': comment.issue === 'Open' }"
            >
              <span>
                <strong>{{ comment.user?.name || "Unknown" }}:</strong>
                {{ comment.comment }}
              </span>
              <span style="font-size: 12px" class="text-disabled">
                {{ comment.createdAt | date: "MMM d, y, HH:mm" }}
              </span>
            </p>
          </div>

          <textarea
            nbInput
            fullWidth
            rows="2"
            [formControl]="commentFormControl"
            placeholder="Insert comment here"
            style="resize: none; margin-top: 10px"
          ></textarea>
          <div class="text-right">
            <button
              nbButton
              status="info"
              size="small"
              class="mr-sm-2"
              (click)="addComment('Closed')"
            >
              comment
            </button>
            <button
              nbButton
              status="danger"
              size="small"
              class="mt-sm-0"
              (click)="addComment('Open')"
            >
              comment + flag
            </button>
          </div>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</ng-template>

<ng-template #postContent let-ref="dialogRef">
  <nb-card>
    <nb-card-header class="d-flex align-items-start justify-content-between">
      <span> UPDATE MOVEMENT </span>
      <span>
        <nb-icon
          icon="window-close"
          (click)="ref.close()"
          style="cursor: pointer"
          status="basic"
        ></nb-icon>
      </span>
    </nb-card-header>
    <nb-card-body>
      <form [formGroup]="postForm" class="overflow-auto" *ngIf="isAdmin">
        <div class="form-group mb-2">
          <label class="label">Amount *</label>
          <input
            type="text"
            nbInput
            fullWidth
            [status]="p.amount.touched && p.amount.errors ? 'danger' : 'basic'"
            formControlName="amount"
            placeholder="Amount *"
          />
          <small
            *ngIf="p.amount.touched && p.amount.errors"
            class="form-text text-danger"
            >Please enter a valid amount.</small
          >
        </div>
        <div class="form-group mb-2">
          <label class="label">Amount *</label>
          <input
            type="text"
            [nbDatepicker]="datepicker"
            nbInput
            fullWidth
            [status]="p.date.touched && p.date.errors ? 'danger' : 'basic'"
            formControlName="date"
            placeholder="Date *"
          />
          <nb-datepicker #datepicker></nb-datepicker>

          <small
            *ngIf="p.date.touched && p.date.errors"
            class="form-text text-danger"
            >Please enter a valid date.</small
          >
        </div>
        <div class="form-group mb-2">
          <label class="label">Details *</label>
          <input
            type="text"
            nbInput
            fullWidth
            [status]="
              p.details.touched && p.details.errors ? 'danger' : 'basic'
            "
            formControlName="details"
            placeholder="Details *"
          />
          <small
            *ngIf="p.details.touched && p.details.errors"
            class="form-text text-danger"
            >Please enter a description.</small
          >
        </div>
      </form>
    </nb-card-body>
    <nb-card-footer>
      <button type="button" nbButton class="mr-3" ghost (click)="ref.close()">
        Close
      </button>
      <button
        type="button"
        nbButton
        class=""
        status="success"
        (click)="updateMovement(ref)"
      >
        Save
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #repaymentContent let-ref="dialogRef">
  <nb-card>
    <nb-card-header class="d-flex align-items-start justify-content-between">
      <span> ADD REPAYMENT</span>
      <span>
        <nb-icon
          icon="window-close"
          (click)="ref.close()"
          style="cursor: pointer"
          status="basic"
        ></nb-icon>
      </span>
    </nb-card-header>
    <nb-card-body>
      <form [formGroup]="repaymentForm" class="overflow-auto" *ngIf="isAdmin">
        <div class="form-group">
          <label class="label">Entity *</label>
          <ng-select
            formControlName="entity"
            class="my-ng-select"
            placeholder="Select entity..."
          >
            <ng-option *ngFor="let entity of entities" [value]="entity._id">{{
              entity.name | uppercase
            }}</ng-option>
          </ng-select>
          <small
            *ngIf="r.entity.touched && r.entity.errors"
            class="form-text text-danger"
            >Please select an entity</small
          >
        </div>
        <div class="form-group mb-2">
          <label class="label">Amount *</label>
          <nb-form-field>
            <input
              type="text"
              nbInput
              fullWidth
              [status]="
                r.amount.touched && r.amount.errors ? 'danger' : 'basic'
              "
              formControlName="amount"
              placeholder="Amount *"
            />
            <nb-icon nbSuffix icon="euro-sign"></nb-icon>
          </nb-form-field>

          <small
            *ngIf="r.amount.touched && r.amount.errors"
            class="form-text text-danger"
            >Please enter a valid amount.</small
          >
        </div>
        <!-- <div class="form-group mb-2">
          <label class="label">Date *</label>
          <input
            type="text"
            [nbDatepicker]="datepicker"
            nbInput
            fullWidth
            [status]="r.date.touched && r.date.errors ? 'danger' : 'basic'"
            formControlName="date"
            placeholder="Date *"
          />
          <nb-datepicker #datepicker></nb-datepicker>

          <small
            *ngIf="r.date.touched && r.date.errors"
            class="form-text text-danger"
            >Please enter a valid date.</small
          >
        </div> -->
        <div class="form-group mb-2">
          <label class="label">Details *</label>
          <input
            type="text"
            nbInput
            fullWidth
            [status]="
              r.details.touched && r.details.errors ? 'danger' : 'basic'
            "
            formControlName="details"
            placeholder="Details *"
          />
          <small
            *ngIf="r.details.touched && r.details.errors"
            class="form-text text-danger"
            >Please enter a description.</small
          >
        </div>
      </form>
    </nb-card-body>
    <nb-card-footer>
      <button type="button" nbButton class="mr-3" ghost (click)="ref.close()">
        Close
      </button>
      <button
        type="button"
        nbButton
        class=""
        status="success"
        (click)="addRepayment(ref)"
      >
        Save
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>
