<div
	class="pt-3"
	[nbSpinner]="loadingUsers"
	nbSpinnerStatus="danger"
	nbSpinnerSize="large"
	nbSpinnerMessage="Loading users"
>
	<div class="row no-gutters">
		<div class="col-12 text-right">
			<button nbButton status="info" class="mb-4" (click)="openNewUserDialog(newUser)">Add new user</button>
		</div>
	</div>

	<table datatable [dtTrigger]="$any(dtTrigger)" [dtOptions]="dtOptions" class="table table-hover" width="100%">
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Role</th>
				<th width="20px">&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let user of users">
				<td class="text-capitalize">{{ user.name }}</td>
				<td>{{ user.email }}</td>
				<td class="text-capitalize">{{ user.role }}</td>
				<td class="text-center px-0 py-2" width="8%">
					<nb-icon icon="edit" status="basic" style="cursor: pointer" (click)="openUpdate(userContent, user)"></nb-icon>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<ng-template #userContent let-data let-ref="dialogRef">
	<nb-card>
		<nb-card-header>UPDATE USER</nb-card-header>
		<nb-card-body>
			<form [formGroup]="userForm">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group mb-2">
							<label class="label">Username *</label>
							<input
								type="text"
								nbInput
								fullWidth
								[status]="u.name.touched && u.name.errors ? 'danger' : 'basic'"
								formControlName="name"
								placeholder="Name *"
							/>
							<small *ngIf="u.name.touched && u.name.errors" class="form-text text-danger">Please enter a name.</small>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group mb-2">
							<label class="label">Email *</label>

							<input
								type="text"
								nbInput
								fullWidth
								[status]="u.email.touched && u.email.errors ? 'danger' : 'basic'"
								formControlName="email"
								placeholder="Email *"
							/>
							<small *ngIf="u.email.touched && u.email.errors" class="form-text text-danger"
								>Please enter an email.</small
							>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<div class="form-group mb-2">
							<label class="label">Role *</label>

							<nb-select fullWidth formControlName="role" placeholder="Select role...">
								<nb-option value="admin">Admin</nb-option>
								<nb-option value="agent">Agent</nb-option>
								<nb-option value="finance">Finance</nb-option>
							</nb-select>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group mb-2 pt-md-4 pt-2">
							<div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input" id="confirmed" formControlName="confirmed" />
								<label class="custom-control-label" for="confirmed">Confirmed</label>
							</div>
						</div>
					</div>
				</div>

				<div class="form-group mb-2">
					<label class="label">Stores</label>

					<ng-select
						formControlName="rstores"
						class="my-ng-select"
						[multiple]="true"
						[clearable]="true"
						placeholder="Select stores..."
					>
						<ng-option *ngFor="let store of stores" [value]="store._id">{{ store.name }}</ng-option>
					</ng-select>
				</div>
				<div class="form-group mb-2">
					<div class="row">
						<div class="col">
							<label class="label">Telegram ID</label>

							<input nbInput fullWidth status="basic" formControlName="telegramId" placeholder="Telegram ID" />
						</div>
						<div class="col">
							<label class="label">Telegram Name</label>

							<input nbInput fullWidth status="basic" formControlName="telegramName" placeholder="Telegram Name" />
						</div>
					</div>
				</div>

				<div *ngIf="!resettingPassword" class="form-group mt-4">
					<a style="cursor: pointer; color: fuchsia" (click)="resettingPassword = true">Reset password for this user</a>
				</div>
				<div *ngIf="resettingPassword" class="form-group">
					<p class="mt-4 mb-2 font-weight-bold text-danger">Do not forget this password!!!</p>
					<nb-form-field>
						<label for="newpass" class="label">New password</label>
						<input
							nbInput
							id="newpass"
							#newpass
							[formControl]="newPassFormControl"
							[status]="newPassFormControl.touched && newPassFormControl.invalid ? 'danger' : 'basic'"
						/>
						<span class="text-hint" style="font-size: 11px">Password should have a minimum length of 6</span>
					</nb-form-field>
					<div class="row">
						<div class="col">
							<button nbButton ghost size="small" class="ml-3 mt-3" (click)="resettingPassword = false">Cancel</button>
							<button nbButton size="small" class="ml-3 mt-3" status="info" (click)="resetPassword()">
								Update password
							</button>
						</div>
					</div>
				</div>
			</form>
		</nb-card-body>

		<nb-card-footer>
			<button type="button" nbButton ghost class="mr-3" (click)="ref.close()">Close</button>
			<button type="button" nbButton class="" status="success" (click)="saveUser(ref)">Save</button>
		</nb-card-footer>
	</nb-card>
</ng-template>

<ng-template #newUser let-data let-ref="dialogRef">
	<nb-card>
		<nb-card-header>NEW USER</nb-card-header>

		<form [formGroup]="newUserForm" class="p-3 overflow-auto">
			<div class="form-group mb-2">
				<label class="label">Username *</label>
				<input
					nbInput
					fullWidth
					[status]="n.name.touched && n.name.errors ? 'danger' : 'basic'"
					formControlName="name"
					placeholder="Name *"
				/>
				<small *ngIf="n.name.touched && n.name.errors" class="form-text text-danger">Please enter a name.</small>
			</div>
			<div class="form-group mb-2">
				<label class="label">Email *</label>

				<input
					nbInput
					fullWidth
					[status]="n.email.touched && n.email.errors ? 'danger' : 'basic'"
					formControlName="email"
					placeholder="Email *"
				/>
				<small *ngIf="n.email.touched && n.email.errors" class="form-text text-danger"
					>Please enter a valid e-mail address.</small
				>
			</div>
			<div class="form-group mb-2">
				<label class="label">Password *</label>

				<input
					nbInput
					fullWidth
					[status]="n.password.touched && n.password.errors ? 'danger' : 'basic'"
					formControlName="password"
					placeholder="Password *"
				/>
				<small *ngIf="n.password.touched && n.password.errors" class="form-text text-danger"
					>Please enter a password of minimum length 6.</small
				>
			</div>
			<div class="form-group mb-2">
				<label class="label">Role *</label>

				<nb-select
					fullWidth
					formControlName="role"
					placeholder="Select role... *"
					[status]="n.role.touched && n.role.errors ? 'danger' : 'basic'"
				>
					<nb-option value="admin">Admin</nb-option>
					<nb-option value="agent">Agent</nb-option>
					<nb-option value="finance">Finance</nb-option>
				</nb-select>
				<small *ngIf="n.role.touched && n.role.errors" class="form-text text-danger">Please select a role.</small>
			</div>
		</form>

		<nb-card-footer>
			<button type="button" nbButton ghost class="mr-3" (click)="ref.close()">Cancel</button>
			<button
				type="button"
				nbButton
				class=""
				status="success"
				(click)="createUser(ref)"
				[disabled]="loading"
				[nbSpinner]="loading"
				nbSpinnerStatus="danger"
			>
				Add
			</button>
		</nb-card-footer>
	</nb-card>
</ng-template>
