<div class="pt-3">
  <div class="row no-gutters">
    <div class="col-12 text-center">
      <button
        nbButton
        status="info"
        class="mb-3"
        (click)="openNewUserDialog(newUser)"
      >
        Create new user
      </button>
    </div>
  </div>

  <table
    datatable
    [dtTrigger]="$any(dtTrigger)"
    [dtOptions]="dtOptions"
    class="table table-hover"
    width="100%"
  >
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td class="text-capitalize">{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td class="text-capitalize">{{ user.role }}</td>
        <td class="text-center px-0 py-2" width="8%">
          <nb-icon
            icon="edit"
            status="info"
            style="cursor: pointer"
            (click)="openUpdate(userContent, user)"
          ></nb-icon>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #userContent let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>UPDATE USER</nb-card-header>

    <form [formGroup]="userForm" class="p-3">
      <div class="form-group">
        <input
          type="text"
          nbInput
          fullWidth
          [status]="u.name.touched && u.name.errors ? 'danger' : 'basic'"
          formControlName="name"
          placeholder="Name *"
        />
        <small
          *ngIf="u.name.touched && u.name.errors"
          class="form-text text-danger"
          >Please enter a name.</small
        >
      </div>
      <div class="form-group">
        <input
          type="text"
          nbInput
          fullWidth
          [status]="u.email.touched && u.email.errors ? 'danger' : 'basic'"
          formControlName="email"
          placeholder="Email *"
        />
        <small
          *ngIf="u.email.touched && u.email.errors"
          class="form-text text-danger"
          >Please enter an email.</small
        >
      </div>
      <div class="form-group">
        <nb-select
          fullWidth
          formControlName="role"
          placeholder="Select role..."
        >
          <nb-option value="admin">Admin</nb-option>
          <nb-option value="agent">Agent</nb-option>
          <nb-option value="finance">Finance</nb-option>
        </nb-select>
      </div>
      <div class="form-group">
        <ng-select
          formControlName="stores"
          class="my-ng-select"
          [multiple]="true"
          [clearable]="true"
          placeholder="Select stores..."
        >
          <ng-option *ngFor="let store of stores" [value]="store._id">{{
            store.name
          }}</ng-option>
        </ng-select>
      </div>
    </form>

    <nb-card-footer>
      <button type="button" nbButton class="mr-3" (click)="ref.close()">
        Cancel
      </button>
      <button
        type="button"
        nbButton
        class=""
        status="success"
        (click)="saveUser(ref)"
        [disabled]="loading"
        [nbSpinner]="loading"
        nbSpinnerStatus="info"
      >
        Save
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #newUser let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>NEW USER</nb-card-header>

    <form [formGroup]="newUserForm" class="p-3">
      <div class="form-group">
        <input
          nbInput
          fullWidth
          [status]="n.name.touched && n.name.errors ? 'danger' : 'basic'"
          formControlName="name"
          placeholder="Name *"
        />
        <small
          *ngIf="n.name.touched && n.name.errors"
          class="form-text text-danger"
          >Please enter a name.</small
        >
      </div>
      <div class="form-group">
        <input
          nbInput
          fullWidth
          [status]="n.email.touched && n.email.errors ? 'danger' : 'basic'"
          formControlName="email"
          placeholder="Email *"
        />
        <small
          *ngIf="n.email.touched && n.email.errors"
          class="form-text text-danger"
          >Please enter a valid e-mail address.</small
        >
      </div>
      <div class="form-group">
        <input
          nbInput
          fullWidth
          [status]="
            n.password.touched && n.password.errors ? 'danger' : 'basic'
          "
          formControlName="password"
          placeholder="Password *"
        />
        <small
          *ngIf="n.password.touched && n.password.errors"
          class="form-text text-danger"
          >Please enter a password of minimum length 6.</small
        >
      </div>
      <div class="form-group">
        <nb-select
          fullWidth
          formControlName="role"
          placeholder="Select role... *"
          [status]="n.role.touched && n.role.errors ? 'danger' : 'basic'"
        >
          <nb-option value="admin">Admin</nb-option>
          <nb-option value="agent">Agent</nb-option>
          <nb-option value="finance">Finance</nb-option>
        </nb-select>
        <small
          *ngIf="n.role.touched && n.role.errors"
          class="form-text text-danger"
          >Please select a role.</small
        >
      </div>
    </form>

    <nb-card-footer>
      <button type="button" nbButton class="mr-3" (click)="ref.close()">
        Cancel
      </button>
      <button
        type="button"
        nbButton
        class=""
        status="success"
        (click)="createUser(ref)"
        [disabled]="loading"
      >
        Create
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>
