.nb-theme-corporate {
	.section-title {
		color: #284693;
	}

	.auth-top-bar {
		background-color: #3886f7;
	}

	.total-card {
		background-color: #3886f7;
		color: #ffffff;
	}

	.store-card {
		background-color: #3886f7;
		color: #ffffff;
	}

	.client-card {
		background-color: #3886f7;
		color: #ffffff;
	}

	.transactions-bg {
		background-color: #f5f9ff;
	}

	.text-nb-info {
		color: #3886f7;
	}

	.bg-nb-info {
		background-color: #3886f7;
	}

	.text-nb-white {
		color: #ffffff;
	}

	.bg-nb-white {
		background-color: #ffffff;
	}

	.section-title {
		color: #284693;
	}

	.back-to-login {
		color: #284693;
	}

	.table-hover {
		tbody {
			tr.row-issued:hover {
				background-color: rgba(255, 0, 0, 0.2);
			}
			tr.row-pending:hover {
				background-color: rgba(0, 0, 255, 0.2);
			}
			tr.row-closed:hover {
				background-color: rgba(0, 255, 0, 0.2);
			}
		}
	}

	button.dt-button {
		background-color: white;
		color: grey;
	}

	nb-option:focus {
		color: white;
	}

	.bitcoin-second-card {
		background-color: #3886f7;
		color: white;

		.table-hover {
			th,
			td {
				color: white;
			}

			th {
				border-top: 1px solid #0063f2;
				border-bottom: 2px solid #0063f2;
			}
		}
	}

	.bitcoin-table-footer {
		tr {
			background: #3886f7;
			td {
				color: white;
			}
		}
	}

	// .transaction-transfer {
	//   background-color: rgba(30, 211, 30, 0.63);
	//   color: white;
	// }
	// .transaction-trade {
	//   background-color: rgba(174, 0, 255, 0.664);
	//   color: white;
	// }
	// .transaction-loan {
	//   background-color: rgba(214, 214, 23, 0.781);
	//   color: #1a1818;
	// }
	// .transaction-deposit {
	//   background-color: rgba(0, 0, 255, 0.692);
	//   color: white;
	// }
	// .transaction-withdraw {
	//   background-color: rgba(221, 25, 179, 0.699);
	//   color: white;
	// }
}
