.nb-theme-corporate, .nb-theme-dark, .nb-theme-cosmic {
  a {
    text-decoration: none;
  }

  .logo-name {
    color: #284693;
  }

  .auth-form{
    width: 400px;
  }

  .auth-top-bar {
    height: 76px;
    font-size: xx-large;
    font-weight: 900;
  }

  .logo-name {
    letter-spacing: 2px;
    font-size: xx-large;
    font-weight: bolder;
    margin-top: 10px;
  }

  .back-to-login {
    cursor: pointer;
    text-decoration: underline;
  }

  .section-title {
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: bolder;
  }

  .posts-row {
    min-width: 800px;
  }

  button.dt-button {
    padding: 0.5rem;
    font-size: 1.4rem;
    border-radius: 6px;
    border: none;
    margin-right: 0.5rem;
  }

  .dialog-width {
    nb-card {
      min-width: 330px;
      max-width: 95vw;
      max-height: 85vh;

      nb-card-footer {
        display: flex;
        justify-content: center;
      }
    }
  }

  table.table.table-hover {
    th {
      text-transform: uppercase;
    }

    td {
      border: none !important;
    }
  }

  nb-sidebar nb-menu .menu-item {
    .menu-icon {
      font-size: 1.8rem;
      margin: 0;
    }

    .menu-title {
      padding-left: 0.8rem;
    }
  }

  .toastr-class {
    width: 320px;
  }

  nb-sidebar.compacted nb-menu .menu-item a.active::before {
    width: 0px;
  }

  nb-sidebar nb-menu {
    margin: 0 -1.25rem 0 -1.25rem;
  }

  .post-first-td::before {
    top: 50% !important;
  }

  .horizontal-line {
    border-left: 2px solid rgba(255, 255, 255, 0.642);
  }
}

.lsp1{
  letter-spacing: 1px;
}

.lsp2{
  letter-spacing: 2px;
}

@media only screen and (max-width: 800px) {
  .nb-theme-corporate {
    .posts-row {
      min-width: 100px;
    }
  }
}

:focus {
  outline: none !important;
}

button:focus {
  outline: none;
}
