<nb-select placeholder="STORE" filled shape="round" size="medium" status="info" class="mr-4 mb-2">
    <nb-option value="1">Option 1</nb-option>
    <nb-option value="2">Option 2</nb-option>
    <nb-option value="3">Option 3</nb-option>
    <nb-option value="4">Option 4</nb-option>
</nb-select>

<nb-select placeholder="TYPE" filled shape="round" size="medium" status="info" class="mr-4 mb-2">
    <nb-option value="1">Option 1</nb-option>
    <nb-option value="2">Option 2</nb-option>
    <nb-option value="3">Option 3</nb-option>
    <nb-option value="4">Option 4</nb-option>
</nb-select>

<nb-select placeholder="PERIOD" filled shape="round" size="medium" status="info" class="mr-4 mb-2">
    <nb-option value="1">Option 1</nb-option>
    <nb-option value="2">Option 2</nb-option>
    <nb-option value="3">Option 3</nb-option>
    <nb-option value="4">Option 4</nb-option>
</nb-select>

<nb-card class="mt-4">
    <nb-card-body>
      <div class="row mb-3">
        <div class="col">
          <p>Transactions</p>
        </div>
        <div class="col text-right">
          <nb-icon
          icon="calendar-alt"
          status="info"
          class="mr-4"
          style="cursor: pointer"
        ></nb-icon>
          <div ngbDropdown class="d-inline-block">
              <button class="btn btn-info" id="dropdownBasic1" ngbDropdownToggle>Make a transaction</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem>Transfer</button>
                <button ngbDropdownItem>Purchase</button>
                <button ngbDropdownItem>Trade</button>
                <button ngbDropdownItem>Loan</button>
                <button ngbDropdownItem>Withdraw</button>
                <button ngbDropdownItem>Deposit</button>
                <button ngbDropdownItem>Sell</button>
              </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <table
            datatable
            class="table table-borderless table-hover"
            width="100%"
          >
            <thead>
              <tr>
                <th width="20px">&nbsp;</th>
                <th>Date</th>
                <th>Store Name</th>
                <th>Client Name</th>
                <th>Payment type</th>
                <th>Credit</th>
                <th>Debit</th>
                <th>Status</th>
                <th>Description</th>
                <th width="20px">&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let transaction of transactions">
                <td [attr.data-sort]="transaction.issued">
                  <nb-icon
                    icon="flag"
                    [status]="transaction.issued ? 'warning' : 'basic'"
                  ></nb-icon>
                </td>
                <td class="text-capitalize">{{ transaction.date }}</td>
                <td class="text-capitalize">{{ transaction.storeName }}</td>
                <td class="text-capitalize">{{ transaction.clientName }}</td>
                <td class="text-capitalize">{{ transaction.paymentType }}</td>
                <td class="text-capitalize">
                  <sup>$</sup>
                  {{ transaction.credit }}
                </td>
                <td class="text-capitalize">
                  <sup>$</sup>
                  {{ transaction.debit }}
                </td>
                <td
                  class="text-capitalize"
                  [ngClass]="{ 'text-danger font-weight-bold': transaction.status === 'pending' }"
                >
                  {{ transaction.status }}
                </td>
                <td class="text-capitalize">{{ transaction.description }}</td>
                <td>
                  <nb-icon icon="pen" style="cursor: pointer;" status="basic"></nb-icon>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </nb-card-body>
  </nb-card>