<nb-card
  class="mt-0"
  [nbSpinner]="loadingTransactions"
  nbSpinnerStatus="danger"
  nbSpinnerSize="large"
  nbSpinnerMessage="Loading transactions"
>
  <nb-card-body>
    <div class="row mb-3 align-items-center">
      <div class="col-lg-2 col-md-4 col-sm-12">
        <p class="text-muted text-uppercase font-weight-bold mb-2">
          Transactions
        </p>
      </div>
      <div class="col-lg-7 col-md-12">
        <nb-select
          placeholder="Store"
          [formControl]="storeFormControl"
          filled
          shape="round"
          size="small"
          status="info"
          class="mr-4 mb-2"
          (selectedChange)="changedFilters()"
        >
          <nb-option value="all">Store</nb-option>
          <nb-option *ngFor="let store of stores" [value]="store._id">{{
            store.name
          }}</nb-option>
        </nb-select>
        <nb-select
          placeholder="Type"
          [formControl]="typeFormControl"
          filled
          shape="round"
          size="small"
          status="info"
          class="mr-4 mb-2"
          (selectedChange)="changedFilters()"
        >
          <nb-option value="all">Type</nb-option>
          <nb-option *ngFor="let type of transactionTypes" [value]="type._id">{{
            type.name
          }}</nb-option>
        </nb-select>
        <nb-select
          placeholder="Period"
          [formControl]="periodFormControl"
          filled
          shape="round"
          size="small"
          status="info"
          class="mr-4 mb-2"
          (selectedChange)="changedPeriod()"
        >
          <nb-option value="all">Period</nb-option>

          <nb-option value="1">Today</nb-option>
          <nb-option value="2">Last week</nb-option>
          <nb-option value="3">Last month</nb-option>
          <nb-option value="4">Last year</nb-option>
        </nb-select>
      </div>
      <div class="col-lg-3 col-md-12 col-sm-6 text-lg-right">
        <nb-icon
          icon="calendar-alt"
          status="info"
          class="mr-4"
          style="cursor: pointer"
        ></nb-icon>
        <div ngbDropdown class="d-inline-block">
          <button
            nbButton
            status="info"
            style="text-transform: none; border-radius: 13px"
            id="dropdownBasic1"
            ngbDropdownToggle
          >
            Make a transaction
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem (click)="make('transfer')">Transfer</button>
            <button ngbDropdownItem (click)="make('loan')">Loan</button>
            <button ngbDropdownItem (click)="make('trade')">Trade</button>
            <button ngbDropdownItem (click)="make('deposit')">Deposit</button>
            <button ngbDropdownItem (click)="make('withdraw')">Withdraw</button>
          </div>
        </div>
      </div>
    </div>

    <!-- MAKING A TRANSACTION SECTION -->
    <div
      class="row"
      *ngIf="makingTransaction"
      style="background-color: #f5f9ff; margin: 0rem -1rem"
    >
      <div class="col-12 py-4 px-lg-5 px-3">
        <div [ngSwitch]="transactionType">
          <div *ngSwitchCase="'transfer'">
            <app-transfer
              (onTransactionCancel)="cancelTransaction()"
              (onTransactionLock)="loadingTransactions = true"
            ></app-transfer>
          </div>
          <div *ngSwitchCase="'trade'">
            <app-trade
              (onTransactionCancel)="cancelTransaction()"
              (onTransactionLock)="loadingTransactions = true"
            ></app-trade>
          </div>
          <div *ngSwitchCase="'loan'">
            <app-loan
              (onTransactionCancel)="cancelTransaction()"
              (onTransactionLock)="loadingTransactions = true"
              (onTransactionCreate)="rerenderTransactions($event)"
            ></app-loan>
          </div>
          <div *ngSwitchCase="'withdraw'">
            <app-withdraw
              (onTransactionCancel)="cancelTransaction()"
              (onTransactionLock)="loadingTransactions = true"
              (onTransactionCreate)="rerenderTransactions($event)"
            ></app-withdraw>
          </div>
          <div *ngSwitchCase="'deposit'">
            <app-deposit
              (onTransactionCancel)="cancelTransaction()"
              (onTransactionLock)="loadingTransactions = true"
              (onTransactionCreate)="rerenderTransactions($event)"
            ></app-deposit>
          </div>
        </div>
      </div>
    </div>
    <!-- END MAKING A TRANSACTION -->

    <div class="row pt-2">
      <div class="col-12">
        <table
          [dtTrigger]="$any(dtTrigger)"
          [dtOptions]="dtOptions"
          datatable
          class="table table-hover"
          width="100%"
        >
          <thead>
            <tr>
              <th width="20px">&nbsp;</th>
              <th>Date</th>
              <th>Store Name</th>
              <th>Client Name</th>
              <th>Payment type</th>
              <th>Direction</th>
              <th>User Name</th>
              <th>Status</th>
              <th>Description</th>
              <th width="20px">&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let transaction of tableTransactions"
              [ngClass]="{
                'row-issued': checkForFlag(transaction.comments),
                'row-pending':
                  transaction.status === 'Open' &&
                  !checkForFlag(transaction.comments),
                'row-closed':
                  transaction.status === 'Closed' &&
                  !checkForFlag(transaction.comments)
              }"
            >
              <td
                [attr.data-sort]="
                  checkForFlag(transaction.comments) ? 'a' : 'b'
                "
              >
                <nb-icon
                  icon="flag"
                  [status]="
                    checkForFlag(transaction.comments) ? 'danger' : 'basic'
                  "
                ></nb-icon>
              </td>
              <td class="text-capitalize">
                {{ transaction.createdAt | date: "mediumDate" }}
              </td>
              <td class="text-capitalize">{{ transaction.store?.name }}</td>
              <td class="text-capitalize">{{ transaction.client?.name }}</td>
              <td class="text-capitalize">{{ transaction.type }}</td>
              <td class="text-capitalize">{{ transaction.direction }}</td>
              <td class="text-capitalize">{{ transaction.user?.name }}</td>
              <td
                class="text-capitalize"
                [ngClass]="{
                  'text-danger font-weight-bold': transaction.status === 'Open'
                }"
              >
                {{
                  transaction.status === "Open" ? "Pending" : "Completed"
                }}
                ({{ transaction.posts?.length }})
              </td>
              <td>{{ transaction.description }}</td>
              <td (click)="openEditTransaction(transactionDialog, transaction)">
                <nb-icon
                  icon="edit"
                  style="cursor: pointer"
                  status="basic"
                ></nb-icon>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </nb-card-body>
</nb-card>

<ng-template #transactionDialog let-data let-ref="dialogRef">
  <nb-card
    [status]="
      transaction.status === 'Open'
        ? checkForFlag(transaction.comments)
          ? 'danger'
          : 'info'
        : 'success'
    "
    style="border: none"
  >
    <nb-card-header class="d-flex align-items-start justify-content-between">
      <span
        class="mr-4"
        style="
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 25ch;
        "
      >
        {{ transaction.description }}</span
      >
      <span class="">
        {{ transaction.status === "Open" ? "Pending" : "Completed" }}
      </span>
      <span class="mx-4">
        {{ transaction.createdAt | date: "mediumDate" }}
      </span>
      <span>
        <nb-icon
          icon="window-close"
          (click)="ref.close()"
          style="cursor: pointer"
        ></nb-icon>
      </span>
    </nb-card-header>
    <nb-card-body class="p-3">
      <div class="row mb-5 posts-row">
        <div class="col-12">
          <div class="row mb-2">
            <div class="col text-left">
              <p
                class="text-muted text-uppercase font-weight-bold"
                style="color: #959595"
              >
                Posts
              </p>
            </div>
            <div class="col text-right">
              <button nbButton status="warning" size="small">Add post</button>
            </div>
          </div>

          <table
            datatable
            [dtOptions]="dialogDtOptions"
            class="table table-hover table-sm mt-3"
            width="100%"
          >
            <thead>
              <tr>
                <th>detail</th>
                <th>date</th>
                <th>amount</th>
                <th>type</th>
                <th>user</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let post of transaction?.posts">
                <td class="post-first-td">{{ post.details }}</td>
                <td>{{ post.date | date: "mediumDate" }}</td>
                <td>{{ post.amount | currency: post.currency.symbol }}</td>
                <td class="text-capitalize">{{ post.type }}</td>
                <td>{{ post.user?.name }}</td>
                <td>
                  <nb-icon
                    icon="edit"
                    status="basic"
                    style="cursor: pointer"
                  ></nb-icon>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <div class="row">
            <div class="col-10">
              <p
                class="mb-2 text-muted text-uppercase font-weight-bold"
                style="color: #959595"
              >
                Transaction details
              </p>
            </div>
            <div class="col-2 text-right">
              <nb-icon icon="edit" style="cursor: pointer"></nb-icon>
            </div>
          </div>

          <div
            class="p-2"
            style="
              background-color: #f5f9ff;
              min-height: 100px;
              border-radius: 6px;
            "
          >
            <div class="d-flex align-items-center justify-content-between mb-2">
              <strong class="mr-2 text-muted font-smaller">Created At</strong>
              <span>{{ transaction.createdAt | date: "mediumDate" }}</span>
            </div>
            <div class="d-flex align-items-center justify-content-between mb-2">
              <strong class="mr-2 text-muted">Store</strong>
              <span>{{ transaction.store?.name || "-" }}</span>
            </div>
            <div class="d-flex align-items-center justify-content-between mb-2">
              <strong class="mr-2 text-muted">Client</strong>
              <span>{{ transaction.client?.name || "-" }}</span>
            </div>
            <div class="d-flex align-items-center justify-content-between mb-2">
              <strong class="mr-2 text-muted">Payment type</strong>
              <span class="text-capitalize">{{ transaction.type }}</span>
            </div>
            <div class="d-flex align-items-center justify-content-between mb-2">
              <strong class="mr-2 text-muted">Direction</strong>
              <span class="text-capitalize">{{ transaction.direction }}</span>
            </div>
            <div class="d-flex align-items-center justify-content-between mb-2">
              <strong class="mr-2 text-muted">User</strong>
              <span class="text-capitalize">{{
                transaction.user?.name || "-"
              }}</span>
            </div>
            <div class="d-flex align-items-center justify-content-between mb-2">
              <strong class="mr-2 text-muted">Description</strong>
              <span class="text-capitalize">{{ transaction.description }}</span>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <p
            class="mb-2 text-muted text-uppercase font-weight-bold"
            style="color: #959595"
          >
            Comments
          </p>

          <small *ngIf="transaction?.comments?.length === 0"
            >No comments have been added yet for this transaction</small
          >

          <div style="max-height: 200px; overflow: auto">
            <p
              class="mb-2 d-flex flex-column flex-wrap"
              style="font-size: 13.5px"
              *ngFor="let comment of transaction.comments"
              [ngClass]="{ 'text-danger': comment.issue === 'Open' }"
            >
              <span>
                <strong>{{ comment.user?.name || "Unknown" }}:</strong>
                {{ comment.comment }}
              </span>
              <span style="font-size: 12px" class="text-muted">
                {{ comment.createdAt | date: "MMM d, y, HH:mm" }}
              </span>
            </p>
          </div>

          <textarea
            nbInput
            fullWidth
            rows="2"
            [formControl]="commentFormControl"
            placeholder="Insert comment here"
            style="resize: none; margin-top: 10px"
          ></textarea>
          <div class="text-right">
            <button
              nbButton
              status="info"
              size="small"
              class="mr-sm-2"
              (click)="addComment('Closed')"
            >
              comment
            </button>
            <button
              nbButton
              status="danger"
              size="small"
              class="mt-sm-0"
              (click)="addComment('Open')"
            >
              comment + flag
            </button>
          </div>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</ng-template>
