<div class="card h-100 w-100">
    <div class="card-body">
        <div class="row">
            <div class="col-9">
                <h5 class="card-title text-capitalize mb-2">{{ account?.name}}</h5>
                <div class="mb-4" title="Copy">
                    <span class="text-muted">{{ account?.description }}</span>
                    <span class="text-success ml-2" style="cursor: pointer;">
                        <!-- <fa-icon [icon]="['fas', 'copy']"></fa-icon> -->
                    </span>
                </div>
                <div>
                    0 &euro;
                </div>
            </div>
            <div class="col-3 d-flex flex-column align-items-end justify-content-between">
                <div>{{ account?.type }}</div>
                <div>...</div>
            </div>
        </div>
    </div>
</div>