<form [formGroup]="transactionForm" class="form-row">
  <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mb-2">
    <label class="label">From *</label>
    <ng-select
      formControlName="vendorId"
      class="my-ng-select"
      placeholder="Select vendor..."
    >
      <ng-option *ngFor="let vendor of vendors" [value]="vendor._id"
        >{{ vendor.name }} {{ vendor.surname }} ({{ vendor.vendorType }})</ng-option
      >
    </ng-select>
    <small
      *ngIf="t.vendorId.touched && t.vendorId.errors"
      class="form-text text-danger"
      >Please select a vendor</small
    >
  </div>
  <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mb-2">
    <label class="label">To *</label>
    <ng-select
      formControlName="Store"
      class="my-ng-select"
      placeholder="Select store..."
    >
      <ng-option *ngFor="let store of stores" [value]="store._id">{{
        store.name
      }}</ng-option>
    </ng-select>
    <small
      *ngIf="t.Store.touched && t.Store.errors"
      class="form-text text-danger"
      >Please select a store</small
    >
  </div>
  <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mb-2">
    <label class="label">Description *</label>
    <input
      nbInput
      fullWidth
      placeholder="Description"
      formControlName="description"
      [status]="
        t.description.touched && t.description.errors ? 'danger' : 'basic'
      "
    />
    <small
      *ngIf="t.description.touched && t.description.errors"
      class="form-text text-danger"
      >Please enter a short description</small
    >
  </div>
  <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mb-2">
    <label class="label">Amount *</label>
    <input
      nbInput
      fullWidth
      formControlName="amount"
      placeholder="Amount *"
      [status]="t.amount.touched && t.amount.errors ? 'danger' : 'basic'"
    />
    <small
      *ngIf="t.amount.touched && t.amount.errors"
      class="form-text text-danger"
      >Please enter a valid amount</small
    >
  </div>

  <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mb-2">
    <label class="label">Currency (optional)</label>
    <ng-select
      formControlName="currency"
      class="my-ng-select"
      placeholder="Select currency..."
    >
      <ng-option *ngFor="let currency of currencies" [value]="currency._id">{{
        currency.name
      }}</ng-option>
    </ng-select>
  </div>
</form>

<div class="row mt-3">
  <div class="col-12 text-right">
    <button nbButton ghost class="mr-3" (click)="initForm()">reset</button>
    <button nbButton status="info" (click)="makeTransaction()">
      Make trade
    </button>
  </div>
</div>
