/* Importing VARIABLES WHICH CONTAIN Bootstrap Override variables */
@import './assets/styles/abstracts/variables';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* CUSTOM STYLES */
@import './assets/styles/main';