/* Importing VARIABLES WHICH CONTAIN Bootstrap Override variables */
@import './assets/styles/abstracts/variables';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

// should be after your bootstrap imports, it uses bs4 variables, mixins, functions 
@import '~ngx-toastr/toastr-bs4-alert';

/* CUSTOM STYLES */
@import './assets/styles/main';