/* NG-SELECT styles*/
@import '~@ng-select/ng-select/themes/default.theme.css';

/* Importing VARIABLES WHICH CONTAIN Bootstrap Override variables */
@import './assets/styles/abstracts/variables';

/* Importing Bootstrap SCSS file. */
// @import '~bootstrap/scss/bootstrap';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/root';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/type';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/tables';
@import '~bootstrap/scss/forms';
@import '~bootstrap/scss/dropdown';
@import '~bootstrap/scss/custom-forms';
@import '~bootstrap/scss/pagination';
@import '~bootstrap/scss/utilities';

/* CUSTOM STYLES */
@import './assets/styles/main';
