@mixin image-cover{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}