//////////////////////////////////////////////////
/////////* BOOSTRAP OVERRIDE VARIABLES *//////////
//////////////////////////////////////////////////

/* BODY */
$body-bg: #e3e4e7;
$body-color: #292828;

/* NAVBAR */
$navbar-light-color: #999BAD; //MENU ITEM NOT ACTIVE
$navbar-light-active-color: #292828;
$navbar-light-hover-color: #292828;

/* RESPONSIVE TYPOGRAPHY */
$enable-responsive-font-sizes: true;

/* CONTAINER SIZES */ 
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1250px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1340px
);

/* OVERALL RADIUS OF COMPONENTS */
$border-radius: .7rem;

/* CARDS */
$card-border-width: 0;
$card-spacer-y: 1.7rem;
$card-spacer-x: 1.7rem;

/* COLORS */
// $green: #107f72;
$cyan: #056AFF;
$primary:#7562CA;


$custom-green: #107f72;
$custom-gray: #EBF0F5;
$text-muted: #717171;

// Add "custom color" styles to the generated classes
$theme-colors: (
  "dark-green": $custom-green,
  "light-gray": $custom-gray,
);

/* SCROLLBAR */
$scrollbar-wd: 5px;
$scrollbar-cl: $custom-green;
$scrollbar-bg: $body-bg;

/* NAVBAR */
$navbar-ht: 80px;


/* BUTTONS */


///////////////////////////////////////////////
//////////* BOOSTRAP OVERRIDE VARIABLES *//////
///////////////////////////////////////////////

$main-bg-1: #DCDEE7;
$main-bg-2: #EDEEF3;



///////////////////////////////////////////////
////////////* CUSTOM VARIABLES *///////////////
///////////////////////////////////////////////




