//////////////////////////////////////////////////
/////////* BOOSTRAP OVERRIDE VARIABLES *//////////
//////////////////////////////////////////////////

/* BODY */
$body-bg: #e3e4e7;
$body-color: #292828;

/* NAVBAR */
$navbar-light-color: #999BAD; //MENU ITEM NOT ACTIVE
$navbar-light-active-color: #292828;
$navbar-light-hover-color: #292828;

/* OVERALL RADIUS OF COMPONENTS */
$border-radius: .7rem;

/* CARDS */
$card-border-width: 0;
$card-spacer-y: 1.7rem;
$card-spacer-x: 1.7rem;

/* COLORS */
$green: #107f72;

/* SCROLLBAR */
$scrollbar-wd: 5px;
$scrollbar-cl: $green;
$scrollbar-bg: $body-bg;

/* NAVBAR */
$navbar-ht: 80px;

///////////////////////////////////////////////
//////////* BOOSTRAP OVERRIDE VARIABLES *//////
///////////////////////////////////////////////

$main-bg-1: #DCDEE7;
$main-bg-2: #EDEEF3;



///////////////////////////////////////////////
////////////* CUSTOM VARIABLES *///////////////
///////////////////////////////////////////////




