<div class="row">
    <div class="col-lg-4 col-md-6">
        <nb-card>
            <nb-card-body>
                <div class="row ">
                    <div class="col flex-column justify-content-between">
                        <h6 class="text-uppercase">Store name</h6>
                        <img src="../../../../assets/media/stores/st1.jpg" alt="" width="100" class="rounded-circle">
                    </div> 
                    <div class="col">
                        <div class="d-flex flex-column justify-content-between">
                            <div>
                                <p class="mb-1">BALANCE TOT</p>
                                <p class="text-center mb-2 h5">324324</p>
                            </div>
                            <div>
                                <p class="mb-1">PROFIT TOT</p>
                                <p class="text-center mb-0 h5">324324</p>
                            </div>
                        </div>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="row">
            <div class="col-6">
                <nb-card>
                    <nb-card-body>
                        1
                    </nb-card-body>
                </nb-card>
            </div>
            <div class="col-6">
                <nb-card>
                    <nb-card-body>
                        2
                    </nb-card-body>
                </nb-card>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <nb-card>
                    <nb-card-body>
                        1
                    </nb-card-body>
                </nb-card>
            </div>
            <div class="col-6">
                <nb-card>
                    <nb-card-body>
                        2
                    </nb-card-body>
                </nb-card>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <nb-card >
            <nb-card-body>
                Calendar
            </nb-card-body>
        </nb-card>
    </div>
</div>
