.scroll-to-top {
    position: fixed;
    background-color: white;
    color: #107f72;
    bottom: 1rem;
    right: 1rem;
    width: 2.4rem;
    height: 2.4rem;
    padding: 7px;
    border-radius: 50%;
    opacity: 0;
    transition: all .25s ease-in-out;

    display: flex;
    align-self: center;
    justify-content: center;
}

.show-scrollTop {
    opacity: .8;

    &:hover{
        cursor: pointer;
        opacity: 1;
    }
}