// // import Nebular Theme System and the default theme
@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/corporate';

$nb-themes: nb-register-theme((
    layout-scrollbar-color: #3886f7,
    layout-background-color: #F5F9FF,
    border-radius: 6px,
    font-family-primary: 'Roboto',
    sidebar-background-color: #3886f7,
    sidebar-width: 11rem,
    menu-background-color: #3886f7,
    menu-item-divider-width: 0px,
    menu-text-font-size: 1rem,
    menu-item-padding: 1rem 1rem,
    menu-text-color: #ffffff,
    menu-item-icon-color: #ffffff,
    menu-item-icon-hover-color: #ffffff,
    menu-item-hover-text-color:#ffffff,
    menu-item-hover-background-color: #0063F2,
    menu-item-active-background-color: #0063F2,
    menu-item-active-text-color: #ffffff,
    menu-item-icon-active-color: #ffffff,
    context-menu-border-width: 0px,
    card-padding: 1rem 1rem,
    tabset-tab-padding: .5rem 1rem,
    tabset-content-padding: .5rem .4rem,
    tabset-tab-active-text-color: #0063F2,
    tabset-tab-active-underline-color: #0063F2,
    tabset-tab-focus-text-color: #0063F2,
    tabset-tab-focus-underline-color:  #0063F2,
    tabset-tab-hover-text-color: #0063F2,	
    tabset-tab-hover-underline-color:#0063F2,
    select-min-width: 10rem,
    select-filled-border-width: 0px,
    color-info-500: #3886f7,
    input-basic-background-color: #ffffff,
    input-basic-focus-background-color: #e4e9f2,
    input-basic-border-color: #ccc,
), corporate, corporate);